.row {
    margin-right: 0px;
    margin-left: 0px;
}
/* .map{
    height: 300px;
} */
agm-map {
    height: 400px;
    z-index : -4; 
    /* color: black; */
}
.post_portion{
    padding: 19px;
    margin-top: 15px;    
}
.title_page {
    margin-bottom: 18px;
        background-color: #fff;
    box-shadow:0px 0px 10px 0px #3333;
    padding: 19px;
}
.title_page h1{
    position: relative;
    z-index: 1;
    font-weight: bold;
    text-align: center;
}
.title_page h1 span{
    white-space: nowrap;
    color: #000;
    font-size: 73px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    opacity: 0.03;
    margin-top: -5px;

}

::placeholder{
	color:#ececec !important;
}

/*---------------picture_update*-------------/
/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 75px;
    height: 75px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}
/*--------------------------*/
.group_form_edit .form-control:focus{
	box-shadow: none;
	border-bottom: 1px solid #333333;
}

.add_members_btn {
    width: 100%;
    text-align: left;
}
.add_members_list ul li{
	padding: 12px;
	list-style:none; 
	color: #12959f;

}
.search_selected_list{
	position: relative;
	width: 100%;
	margin-top: 12px;
}
.search_selected_list input[type="text"]
{
    width:205px;
    height:30px;
    float: right;
}

.search_selected_list button , .search_selected_location button
{
    position:absolute;
    right:0px;
    top:0px;    
    border:0px;
    background-color: transparent;

}
.create_group {
    background-color: #fff;
    box-shadow:0px 0px 10px 0px #3333;
}
.group_form_edit{
	width: 60%;
	margin:0 auto;
	padding:28px;
}
.border{
	border:none;
	box-shadow: none;
	border-bottom: 1px solid #d2d2d7;
	width: 100%;
    text-align: left;
    border-radius: 0px;
}
.border:focus {
    box-shadow: none !important;
    border-bottom:1px solid #333333;
}
.group_form_edit label{
	color:#d2d2d7;
	font-size: 12px;
}
.group_form_edit .btn-default.focus, .group_form_edit .btn-default:focus{
	background-color: transparent !important;
}
.group_form_edit .choose_btn:hover, .group_form_edit .choose_btn:active{
	background-color: transparent !important;
	border-color: #ececec;
}

.group_form_edit .form-group{
	margin-bottom: 25px;
}
.group_form_edit .fas , .group_form_edit select{
	color:#ececec;
}
.description{
	height:100px; 
}
.form_submit {
    padding: 9px 50px;
}

#games{
	-moz-appearance: none !important;
  -webkit-appearance: none !important;  
  -o-appearance: none !important;
  -appearance:none !important;
}
select::-ms-expand {
        display: none !important;
}

select + i.fas {
  float: right;
  color:#12959f !important;
  margin-top: -28px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
}
.search_selected_location{
	position: relative;
}
.inputbar_location{
	margin-bottom: 12px; 
}
.search_selected_list .form-control:focus{
	border: 1px solid #333333 !important;
}

/*new_addon*/
.cards img{
	width: 60px;
}
.cards{
	background-color: #f8f8f8;
	box-shadow:0px 0px 10px 0px #3333;	
	padding-top: 8px;
	padding-bottom:  8px;
    margin-top: 30px;	 
    cursor: pointer;
    border-radius: 4px;
}
.cards:hover {
    background-color: #12959f;
    /* color: #fff; */
 }
.cards ul{
	padding-left: 10px;
	margin-bottom: 0px;
}
.choose_games .modal-dialog {
    width: 750px;
}
.choose_games a{
	color:#333333;
	text-decoration: none;
}
.submit_game{
	margin-top:18px;
}
.submit_game .btn{
	background-color: transparent;
	color:#12959f;
	border:1px solid #12959f;
	padding: 7px 40px;
}


.activitiesModalBody {
    height: 500px;
    overflow-y: scroll;
}
.choose_games .modal-dialog {
    width: 80% !important;
  }

.cards ul{
    list-style: none;
   }
   .choose_games  .cards{
      height: 80px;
      list-style: none;
   }
   .choose_games .modal-dialog {
      width: 60%;
   }

   .friendsSelect {
       height: 100px;
       overflow-y: scroll;
   }


@media only screen and (min-width:320px) and (max-width:768px){
    .title_page h1 span {
        font-size: 35px;
    }
    .title_page h1{
    	font-size: 25px;
    }
    .group_form_edit {
	    width: 100%;
	}
	.choose_games .modal-dialog {
	    width: 100%;
	}
}

@media (max-width: 992px){

}

