/* .container {
	background-image: url('../../assets/images/sports-bg.jpg');
	background-size: 100%;
    background-attachment: fixed;
} */


/* new design css */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-tabs > li{
    display: inline-block;
    float: none;
}

.right-portion{
    background-color: #fff;
    box-shadow:0px 0px 10px 0px #3333;
    padding: 20px;
    margin-top: 15px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.title_page {
    margin-bottom: 18px;
    background-color: #fff;
    box-shadow:0px 0px 10px 0px #3333;
    padding: 12px;
}
.title_page h1{
    position: relative;
    z-index: 1;
    font-weight: bold;
    text-align: center;
}
.title_page h1 span{
    white-space: nowrap;
    color: #000;
    font-size: 73px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    opacity: 0.03;
    margin-top: -5px;

}
.nav-tabs {
    border-bottom: 1px solid transparent;
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333333;
}
a:hover{
    text-decoration: none;
    color:#333333;
}
.search_bar{
    text-align: right;
    margin: 50px 0px;
}
.partition .nav-tabs > li {
    
    padding: 6px 45px;
}
.partition .main_tabs_1 > li.active > a, .main_tabs_1 > li.active > a:focus, .main_tabs_1 > li.active > a:hover {

    color: #12959f;
    cursor: default;
    background-color: #fff;
    border: none;
     border-bottom: 1px solid #12959f;

}

.partition .main_tabs_1 a{
    color:#5f6368;
    border-bottom: 1px solid transparent;
}
.search_bar_panel input {
    border: 1px solid #d2d2d7;
    border-radius: 100px;
    padding: 6px;
    padding-left: 15px;
    position: relative;
    width: 282px;
}
.search_bar_panel button {

    position: absolute;
    right: 15px;
    padding: 7px 19px;
    border-radius: 100px;
    background-color: #12959f;
    border: none;
    color: #fff;

}
.tab-content {
    margin-top: 0px;
}


.partition{
    width: 50%;
    margin:0 auto;
}

.activity_image img{
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}
.activity_contant span{
    color:#12959f;
    font-weight: bold;
}

.activity_contant p{
    margin-bottom: 2px;
    font-size: 12px;
}
.activity_card {
    background-color: #f8f8f8;
    border-radius: 6px;
    padding-bottom: 35px;
    transition: 0.4s;
}
.activity_card:hover{
    box-shadow:6px 2px 12px rgba(32,33,39,.08); 
    margin-top: -3px;
}
.load_more{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 50px;

}
.load_more a{
    color:#12959f;
}
 .activity_card .dropdown {
    text-align: right;
    padding: 0px;
}
#activity_action_menu {
    background-color: transparent;
    border: 0px;
    color:#adb5bd;
}
.activity_card .dropdown-menu {
    left: -83px;
    border: 1px solid #b1b6b8;
}
.activity_card .dropdown-menu a {
    padding: 8px 8px;
}
.activity_contant{
    padding-left: 12px;
}
.history_card_intro{
    padding-left:0px;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .title_page h1 span {
        font-size: 55px;
    }
    .partition input{
        width: 100%;
    }
    .search_bar {
        margin-top: 12px;
    }

    #search_user button {
        right: 35px;
    }
    .groupcard_row h5 {
        width: 60% !important;
         float: left;
    }   

    .groupcard_row p {
        width: 40%;
    }


}

@media (max-width: 992px){

    .search_bar {
        margin-top: 12px;
    }
}