<!-- <div class="container">
  <section class="Activities_pg">
      <div class="row">
        <div class="col-md-4" *ngFor="let activity of activities">
          <div class="activity_card">
            <div class="head_card text-center">
              <img [src] ="activity.activity_pic ? imagePath + activity.activity_pic : dummyImage">
              <p><a href="#"><span class="title_activity">{{activity.activity_name}} with team  {{activity.linkup_name}}</span></a></p>
            </div>
            <div class="detail_activity">
              <p><span class="location">{{activity.linkup_state}}</span></p>
              <p>{{activity.linkup_city}}</p>
              <p> {{activity.linkup_start_time}} </p>

              <button class="btn btn-primary open_card"
              routerLink="/activity/detail"
              (click)="info(activity)">View Activity</button>
            </div>
          </div>
        </div>
      </div>

  </section>
</div> -->


<section class="col-md-12">
    
  <div class="title_page">
      <h1>ACTIVITIES<span>ACTIVITIES</span></h1>
  </div>

<div class="right-portion">
<div class="partition clearfix">
       <ul class="nav nav-tabs main_tabs_1 activities_tabs">
          <li class="active"><a data-toggle="tab" href="#activities_tab">MY ACTIVITIES</a></li>
          <li class=""><a data-toggle="tab" href="#activity_nearby">NEAR BY</a></li>
           <li class=""><a data-toggle="tab" href="#activity_history">HISTORY</a></li>
      </ul>
  </div>


  <div class="tabs_pills">

      <div class="tab-content main_tabs">
          <div id="activities_tab" class="tab-pane fade in active">
              <div class="row">
              <div class="col-md-3" *ngFor="let activity of activities">  
                  <a>
                      <div class="activity_card">
                          <div class="activity_image">
                            <img [src] ="activity.activity_pic ? imagePath + activity.activity_pic : dummyImage">
                          </div>

                          <div class="activity_contant">
                              <!-- name -->
                              <!-- <h4><span>{{activity.activity_name}}</span> with  {{activity.linkup_name}}</h4> -->
                              <h4 *ngIf="activity.linkup_single_activity == 1 "><span>{{activity.activity_name}}</span>
                                <span> with  {{activity.linkup_name}}</span></h4>
                              <!-- <h4 *ngIf="activity.linkup_single_activity == 0 "><span>{{activity.activity_name}}</span> with  {{activity.linkup_name}}</h4> -->

                              <p>{{activity.linkup_city}}</p>
                              <p>{{activity.linkup_start_time}}</p>
                          </div>
                      </div>
                  </a>
                </div>

                <div class="col-md-3">
                    <a href="#">
                      <div class="activity_card">
                          <div class="activity_image">
                              <img src="./imgs/bg_clt.png">
                          </div>

                          <div class="activity_contant">
                              <h4><span>Badminton</span> with team10</h4>
                              <p>Moahli phase 8b</p>
                              <p>17 Nov 2019 05:00 PM</p>
                          </div>
                      </div>
                  </a>
                </div>

                 <div class="col-md-3">
                       <a href="#">
                      <div class="activity_card">
                          <div class="activity_image">
                              <img src="./imgs/bg_clt.png">
                          </div>

                          <div class="activity_contant">
                              <h4><span>Badminton</span> with team10</h4>
                              <p>Moahli phase 8b</p>
                              <p>17 Nov 2019 05:00 PM</p>
                          </div>
                      </div>
                  </a>
                </div>

                 <div class="col-md-3">
                       <a href="#">
                      <div class="activity_card">
                          <div class="activity_image">
                              <img src="./imgs/bg_clt.png">
                          </div>

                          <div class="activity_contant">
                              <h4><span>Badminton</span> with team10</h4>
                              <p>Moahli phase 8b</p>
                              <p>17 Nov 2019 05:00 PM</p>
                          </div>
                      </div>
                  </a>
                </div>
              </div>
              <div class="load_more">
                  <a href="#">LOAD MORE</a>
              </div>
          </div>
          <div id="activity_nearby" class="tab-pane fade">
                 <div class="col-md-3">  
                     
                </div>

                   <div class="col-md-3">  
                    
                </div>

                   <div class="col-md-3">  
                     
                </div>

                   <div class="col-md-3">  
                      
                </div>
          </div>

           <div id="activity_history" class="tab-pane fade">
              <div cass="row">
                 <div class="col-md-3">  
                     <div class="activity_card history_card">
                          <div class="activity_image">
                              <img src="./imgs/bg_clt.png">
                          </div>

                          <div class="activity_contant">
                              <div class="row">
                                  <div class="col-md-10 history_card_intro">
                                      <h4><span>Badminton</span> with team10</h4>
                                      <p>Mohali phase 8b</p>
                                      <p>17 Nov 2019 05:00 PM</p>
                                  </div>
                                  <div class="dropdown col-md-2">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="activity_action_menu" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="activity_action_menu">
                                        <li style="border-bottom: 1px solid #b1b6b8;"role="presentation"><a role="menuitem" tabindex="-1" href="#">Nevigate</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reuse</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>

                   <div class="col-md-3">  
                      <div class="activity_card history_card">
                          <div class="activity_image">
                              <img src="./imgs/bg_clt.png">
                          </div>

                          <div class="activity_contant">
                              <div class="row">
                                  <div class="col-md-10 history_card_intro">
                                      <h4><span>Badminton</span> with team10</h4>
                                      <p>Mohali phase 8b</p>
                                      <p>17 Nov 2019 05:00 PM</p>
                                  </div>

                                  <div class="dropdown col-md-2">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="activity_action_menu" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="activity_action_menu">
                                        <li style="border-bottom: 1px solid #b1b6b8;"role="presentation"><a role="menuitem" tabindex="-1" href="#">Nevigate</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reuse</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                    
                  </div>

                <div class="load_more">
                  <a href="#">LOAD MORE</a>
              </div>
                  </div>

              </div>
          </div>
      </div>
</section>