p, h1, h2, h3, h4, h5, h6, ul, li, body, html, *{
  margin: 0;
  padding: 0;
}

*{transition: 0.15s all ease-in; outline:0;}

body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: #222;
  overflow-x: hidden;
}

.main{
  width:100%;overflow: hidden;
}

.bronze{color:#e96405;}
.blue{color:#08c5d5;}
.green{color:#7eb530;}
.red{color:#ea0001;}

:root{
	--green: #7eb530;
    --blue: #08c5d5;
	--red: #ea0001;
	--dark-gray: #222;
	font-size: 16px;    
}

a, a:hover{text-decoration: none;color: inherit; text-decoration: none;}

.justified{text-align: justify;}
.relative{position: relative!important;}

hr.light{border-color: #ccc;}
hr.light.big{border-color: #ccc; border-top-width:10px;}

/*margins*/
.m-0{margin:0!important;}

.mt-10{margin-top: 10px!important;}
.mt-20{margin-top: 20px!important;}
.mt-30{margin-top: 30px!important;}
.mt-40{margin-top: 40px!important;}
.mt-50{margin-top: 50px!important;}

.mb-10{margin-bottom: 10px!important;}
.mb-20{margin-bottom: 20px!important;}
.mb-30{margin-bottom: 30px!important;}
.mb-40{margin-bottom: 40px!important;}
.mb-50{margin-bottom: 50px!important;}

.mr-10{margin-right: 10px!important;}
.mr-20{margin-right: 20px!important;}
.mr-30{margin-right: 30px!important;}
.mr-40{margin-right: 40px!important;}
.mr-50{margin-right: 50px!important;}

.ml-10{margin-left: 10px!important;}
.ml-20{margin-left: 20px!important;}
.ml-30{margin-left: 30px!important;}
.ml-40{margin-left: 40px!important;}
.ml-50{margin-left: 50px!important;}

.p-0{padding:0!important;}

.pt-10{padding-top: 10px!important;}
.pt-20{padding-top: 20px!important;}
.pt-30{padding-top: 30px!important;}
.pt-40{padding-top: 40px!important;}
.pt-50{padding-top: 50px!important;}

.pb-10{padding-bottom: 10px!important;}
.pb-20{padding-bottom: 20px!important;}
.pb-30{padding-bottom: 30px!important;}
.pb-40{padding-bottom: 40px!important;}
.pb-50{padding-bottom: 50px!important;}

.pr-10{padding-right: 10px!important;}
.pr-20{padding-right: 20px!important;}
.pr-30{padding-right: 30px!important;}
.pr-40{padding-right: 40px!important;}
.pr-50{padding-right: 50px!important;}

.pl-10{padding-left: 10px!important;}
.pl-20{padding-left: 20px!important;}
.pl-30{padding-left: 30px!important;}
.pl-40{padding-left: 40px!important;}
.pl-50{padding-left: 50px!important;}

/*heading classes*/
.h1{font-size: 42px;line-height: 1; /*font-family: 'oswald', sans-serif*/}
.h2{font-size: 32px;line-height: 1; /*font-family: 'oswald', sans-serif*/}
.h3{font-size: 28px;line-height: 1; /*font-family: 'oswald', sans-serif*/}

.media-body {
    max-width: 750px;
}
.media{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: visible;
}
.tab-content .media:last-child{
    border-bottom: none;
}


/*buttons*/
.btn{padding:14px 22px;}
.btn-theme{
    padding: 9px 22px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'oswald', sans-serif;
}
.btn.btn-rounded{border-radius: 50px;}
.btn.btn-border{background-color: transparent; border: 2px solid #fff; color: #fff;}
.btn.btn-border:hover,
.btn.btn-border:focus{background-color: #fff!important; color: #222!important; border: 2px solid #fff;}
.btn.btn-3d{box-shadow: 0 4px 0 0px #497d00; position: relative;}
.btn.btn-3d:hover{transform:translateY(4px); box-shadow: 0 0px 0 0px #497d00;}

.btn-lg{padding: 15px 32px;}
.btn.btn-green{background-color: var(--green); color:#fff;}
.btn.btn-blue{background-color: var(--blue); color:#fff;}
.btn.btn-white{background-color: #fff; color:#222; border:1px solid #ddd;}
.btn.btn-dark{background-color: var(--dark-gray); color:#fff;}
.btn.btn-red{background-color: var(--red); color:#fff;}
.btn.btn-green:hover,
.btn.btn-green:focus{background-color: var(--blue); color:#fff;}
.btn.btn-blue:hover,
.btn.btn-blue:focus{background-color: var(--green); color:#fff;}
.btn.effect{position: relative;}
.btn.effect:hover{transform: translateY(-2px); box-shadow: 0 4px 25px -2px rgba(0,0,0,0.5);}

h1{font-size: 42px;font-family: 'oswald', sans-serif;font-weight: bold;}
h1 span{ color: var(--green); }
h1.heading1:first-letter{color: var(--blue);}
h1.heading:first-letter{color: var(--green);}

h2{font-size: 32px;font-weight: bold;font-family: 'oswald', sans-serif;}
h2.heading1:first-letter{color: var(--blue);}
h2.heading:first-letter{color: var(--green);}

h3{font-size: 28px; font-weight: bold;font-family: 'oswald', sans-serif;}
h3.heading1, h3.heading{margin-bottom: 20px;}
h3.heading1:first-letter{color: var(--blue);}
h3.heading1:after{content: none;}

/*heading*/
.heading, .heading1{position: relative; margin-bottom:50px;}
.heading.light, .heading1.light{color: #fff;}
.heading:after{content: ''; display: block; margin-top: 30px;width: 150px; border-top: 3px solid var(--green); margin-bottom: 20px;}
.heading1:after{content: ''; display: block;width: 150px; margin: 0 auto; border-top: 3px solid var(--blue); margin-top: 30px;margin-bottom: 20px;}

/*top bar*/
.blue-bar{background-color: var(--blue); height: 5px; position: fixed;top:0;width:100%; z-index: 9999;}
/*navbar*/
.navbar.navbar-default{height: 115px; border:none; z-index: 999; width:100%; border-radius: 0;}
.navbar.navbar-default.transparent{background-color: transparent; position: absolute;}
.navbar.navbar-default.navbar-fixed-top{background-color: #12959f; box-shadow: 0 5px 20px -7px rgba(0,0,0,0.6);}

/*navbar-brand logo*/
.navbar-brand{padding: 0;margin-top: 13px;}
.navbar-brand.brand-1{padding: 0;margin-top: 13px;z-index: 1;position: relative;}
.navbar-brand img{position: absolute; display: block; margin: 0 auto; right:1px; left: 1px;transition: 0.3s all ease-in; max-width: 90px;}

/*condensed menu*/
.condensed {max-height: 70px;transition: 0.3s all ease-in;}
.condensed .navbar-brand img {width: 50px;}


.navbar-default .navbar-nav{margin-top: 57px;}
/*menu links*/
.navbar-default .navbar-nav>li>a{color:#fff; font-family: 'Oswald', sans-serif; font-size: 1.6rem; position: relative; padding: 15px 10px; margin:0 5px;}
.navbar-default .navbar-nav > li > a:after{
    content: "";
    width:0%;
    height:4px;
    right:0;
    background-color: var(--green);
    position: absolute;
    bottom:0;
    left:0;
    transition: all .2s ease;
}
.navbar-default .navbar-nav > li > a:hover:after,
.navbar-default .navbar-nav > li.active > a:after{
    content: "";
    right:0;
    width:100%;
}

a#login, a#signup{padding: 12px 20px;}
a#login:after, a#signup:after{content:none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{border-color: #fff;}
.navbar-nav>li>.dropdown-menu{border-radius: 20px; overflow:hidden; padding:0;}
.dropdown-menu>li>a {padding: 10px 20px; font-size: 18px;line-height: 1.5;border-bottom: 1px solid #aaa;font-family: 'Oswald', sans-serif; text-transform: uppercase;}
.dropdown-menu>li:last-child>a{ border:none; }


.navbar-default .navbar-nav>li>a i.fa{font-size: 1.2rem;position: relative;top: -3px;}
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a:focus{ background-color: transparent; color:#fff;}
.navbar-default .navbar-nav>li.active>a:after,
.navbar-default .navbar-nav>li.active>a:hover:after,
.navbar-default .navbar-nav>li.active>a:focus:after{content: "";left:0;width:100%;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color:#eee;}

    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 25px;

.navbar-nav>li>button {padding: 4px 20px;color:#fff;font-family: 'Oswald', sans-serif;font-size: 1.6rem;margin: 0 5px;}

section{margin: 50px 0;}


/*for bg image*/
.form{padding: 50px 0; background-image: url('../images/sports-bg.jpg');background-size: cover; background-attachment: fixed;}
/*login-from*/
.login-form{background-color:#1B0505;width:100%;padding:50px; box-shadow: 0 0 30px -7px rgba(0,0,0,0.5);}
.form .add-img{margin-bottom: 40px;position: relative;display: table;}
.form .add-img img{float: left; margin-right: 30px;display: table-cell;}
.form .add-img p{font-size: 24px; display: table-cell;vertical-align: middle;}

.carousel-control.left,
.carousel-control.right{
	background-image:none;width: 50px;height: 50px;line-height: 70px;position: absolute;top:50%; z-index: 1;}
.carousel-control.left i,
.carousel-control.right i{font-size: 50px;}

#myCarousel{overflow:  hidden; max-height: 520px;}
#myCarousel .item>img{width:100%;}
.carousel-caption {right: 3%;left: 3%;top: 100px;}

@media screen and (min-width: 768px){
	.skewed-after, .skewed-before{
		position: absolute;
	    left: -50px;
	    -webkit-transform: rotate(-2deg);
	    -moz-transform: rotate(-2deg);
	    -o-transform: rotate(-2deg);
	    -ms-transform: rotate(-2deg);
	    transform: rotate(-2deg);
	    z-index: 3;
	    width: 2000px;
	    background: #fff;
	    height: 80px;
	    bottom: -40px;
	}
	.skewed-before{
	    top: -40px;
	}
}


.top-image{position: absolute; top:120px; color: #fff; width:100%; padding: 0 9%; /*transform: skewY(3deg);*/}
.top-image h1{font-size: 36px;text-transform: uppercase;text-shadow: 1px 1px 1px #555;}
.top-image img{margin: 15px auto;max-width: 100%;padding: 0 100px;}


.what-we-do .nav-pills li.active a,
.what-we-do .nav-pills li.active a:hover,
.what-we-do .nav-pills li.active a:focus{background-color: var(--blue); box-shadow: 0 4px 30px -2px rgba(0,0,0,0.5);color:#fff;}
.what-we-do .nav-pills li a{color: var(--blue); padding: 10px 25px; margin:0 10px;}
.what-we-do .tab-content{padding: 50px 0 0 0;}


/*testimonials*/
.testimonials{position: relative; background-color: #e5e5e5;padding: 200px 0;}
.testimonials p.meta{font-weight: bold;}
.testimonials p.meta span{font-weight: normal; font-style: italic; font-size:14px;}
#testimonials .carousel-indicators {bottom: -50px;}
#testimonials .carousel-indicators li{background-color: var(--blue);border:none; opacity: 0.3; margin:0 5px;}
#testimonials .carousel-indicators li.active {background-color: var(--blue);border:none;opacity: 1;}
#testimonials .carousel-control.right i, #testimonials .carousel-control.left i{color:#aaa; text-shadow: none;}
#testimonials .carousel-control.left{left:-120px;}
#testimonials .carousel-control.right{right:-120px;}


/*login page*/
input.form-control, select.form-control{height: 50px; border-radius: 0;font-size: 18px;}
input[type="date"]::-webkit-inner-spin-button {
    height: 38px;
  }
.form .social ul li{padding: 0 10px;}
.form .social ul li i.fa{font-size: 40px; margin-top:10px; line-height:70px; height:70px; width:70px; border-radius: 5px;}
.form .social i.fa.fa-facebook{border: 2px solid #3b5998; color:#3b5998;}
.form .social i.fa.fa-twitter{border: 2px solid #55acee; color:#55acee;}
.form .social i.fa.fa-instagram{border: 2px solid #e95950; color:#e95950;}
.form .social i.fa.fa-google-plus{border: 2px solid #dd4b39; color:#dd4b39;}
.form .social i.fa.fa-youtube{border: 2px solid #ff0000; color:#ff0000;}
.form .social i.fa.fa-snapchat{border: 2px solid #fffc00; color:#fffc00;}
.form .social ul li a:hover i.fa{color:#fff;box-shadow: 0 4px 25px -2px rgba(0,0,0,0.8); transform: translateY(-3px);}

a:hover .fa-facebook{background-color: #3b5998; }
a:hover .fa-twitter{background-color: #55acee; }
a:hover .fa-instagram{background-color: #e95950; }
a:hover .fa-google-plus{background-color: #dd4b39; }
a:hover .fa-youtube{background-color: #ff0000; }
a:hover .fa-snapchat{background-color: #fffc00; }


/*client*/
section.client{margin: 100px 0 50px 0;}
.clients img{opacity: 0.3;}
.clients img:hover{opacity: 0.7; cursor: pointer;}

/*footer*/
footer{position: relative; background-image: url("../images/footer-bg.jpg"); background-position: center center; background-size: cover; padding: 100px 0 30px 0;}
footer hr{border-top: 1px solid #fff; opacity: 0.3;}
.subscribe input.form-control{height: 50px; border-radius: 50px 0 0 50px; padding-left: 30px;}

.footer-tags li a, .footer-menu li a{color: #ddd;font-size: 1.25rem; text-transform: uppercase; line-height: 2;}
.footer-menu li a:hover{color: #fff;}
.footer-tags li{padding-left:0; margin-bottom: 5px;}
.footer-tags li a{font-size: 1rem; border:1px solid #fff; border-radius: 3px; padding: 4px 8px; position: relative;display: inline-block;margin: 2px 0;}
.footer-tags li a:hover{color: #222; background-color: #fff; border-radius: 3px; transform: scale(1.1,1.1);}
.footer-social li a i.fa{color:#222; height: 44px; width: 44px; line-height: 44px; background-color: #fff; border-radius: 50%;}
.footer-social li a:hover i.fa{color:#fff; box-shadow: 0 4px 25px -2px rgba(0,0,0,0.8); transform: translateY(-3px);}
.footer-social li a:hover .fa-facebook{background-color: #3b5998; }
.footer-social li a:hover .fa-twitter{background-color: #55acee; }
.footer-social li a:hover .fa-instagram{background-color: #e95950; }
.footer-social li a:hover .fa-google-plus{background-color: #dd4b39; }
.footer-social li a:hover .fa-youtube{background-color: #ff0000; }
.footer-social li a:hover .fa-snapchat{background-color: #fffc00; }
.copyright p, .copyright li a{color:#fff; float: left;}
.copyright ul{float: right;}


/*page title*/
.page-title {margin: 30px 0;}
.page-title h1{color: var(--blue);position: relative; z-index: 1; font-weight: bold;}
.page-title h1 span{white-space: nowrap;color: #000;font-size: 90px; position: absolute; top:50%;left:50%;transform: translate(-50%,-50%); z-index: -1;opacity: 0.1;opacity: 0.05;margin-top: -5px;}
.profile-pic img{/*box-shadow: 0 0 20px #777;*/ max-width: 150px;}
.profile-meta p{font-weight: bold; font-size: 20px; line-height: 1;}
.profile-meta p span{font-weight: bold; font-size: 16px;}
.profile-stats ul li{font-size: 24px; min-width: 20%; margin: 5px 2%;}
.profile-stats ul li i.fa{margin-right: 10px;}

.nav-pills.pill-2 li a,
.nav-pills.pill-3 li a{
	color: #333;
	padding: 10px 25px;
	margin-right:5px;
	text-transform: uppercase;
	font-family: 'oswald', sans-serif;
	font-size: 35px;
    font-weight: bold;
	border-radius: 0;
	background-color: #e5e5e5;
	background: linear-gradient(#e5e5e5 30%, #c5c5c5 70%);
}
.nav-pills.pill-2 li:last-child a,
.nav-pills.pill-3 li:last-child a{margin-right:0;}
.nav-pills.pill-2 li.active a,.nav-pills.pill-2 li.active a:hover,.nav-pills.pill-2 li.active a:focus,
.nav-pills.pill-3 li.active a,.nav-pills.pill-3 li.active a:hover,.nav-pills.pill-3 li.active a:focus{background: var(--green); color:#fff;z-index: 1;position: relative;}
.nav-pills.pill-2 li.active a:before,.nav-pills.pill-2 li.active a:after,
.nav-pills.pill-3 li.active a:before,.nav-pills.pill-3 li.active a:after {
    background: var(--green);
    content: "";
    height: 40px;
    position: absolute;
    width: 50%;
    left: 0;
    bottom: -10px;
    transform: skewY(5deg);
    z-index: -1;
}
.nav-pills.pill-2 li.active a:before,.nav-pills.pill-2 li.active a:after{bottom: -13px;}
.nav-pills.pill-2 li.active a:after,
.nav-pills.pill-3 li.active a:after{left:auto; right: 0;transform: skewY(-5deg);}
.tab-content{padding: 70px 50px; background-color: #f5f5f5;}

.dropdown-menu .media{
    margin-bottom: 0;
    padding-bottom: 0;
    padding:10px;
}
.dropdown-menu .media .media-body i.fa{margin: 5px;}


/*media box*/
.media{position: relative;}
.media-heading{font-family: 'lato', sans-sarif;}


/*activities tab*/
/*#activities .activity,
#nearby .activity,
.schedule{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}*/
.media.below{
    border-bottom: 10px solid #aaa;
}
#activities .activity:last-child,
#myActivities .activity:last-child,
#nearby .activity:last-child,
#history .activity:last-child {
    border:none;
}
#activities .activity .action,
#myActivities .activity .action,
#nearby .activity .action,
#history .event .action,
#events .event .action,
#allevents .event .action,
#organizations .organization .action,
#friends .friend-list .action,
#history .activity .action {
    position: absolute;
    right:10px;
    top:0;
}

/*post tab*/
#posts textarea.form-control{border-radius: 0; font-size: 26px;}
.post-type .photo,.post-type .checkin {
	display: inline-block; width: 50%; color: #aaa; float: left;background-color: #fff;border:1px solid #ccc; border-top: none; font-size: 22px;
}
#submitPost{float:right;font-size: 20px;}
#posts .thumbnail{padding: 30px;}

.view-activity ul{ padding: 20px; background-color: #fff; border:1px solid #eee;}
.view-activity ul li{ padding: 15px;}
.view-activity ul li a img{ margin-bottom:10px;}


/*friends under profile page*/
#friends .pills-2 li a{
    color: #fff;
    padding: 10px 25px;
    margin-right: 5px;
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    font-size: 35px;
    font-weight: bold;
    border-radius: 0;
    background-color: #888;
}
#friends .pills-2 li:last-child a{margin-right:0;}
#friends .pills-2 li.active a{background-color: #222;}
.tab-content .tab-content{background-color: #fff; padding: 30px;}
#friendsRequests .request{position: relative;}
#friendsRequests .request .action{position: absolute; right:10px; top:0;}
#friendlist .friend-list .action{position: absolute; right:10px; top:0;}

/*notification*/
.notification{
    position: absolute;
    right: -5px;
    top:-5px;
    background-color: #7eb530;
    color:#fff;
    width:25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}

/*friend request*/



/*my-activities*/
.my-activities input.form-control{
    background-color: #f5f5f5;
    color:#555;
    text-align: center;
    font-size: 20px;
}
.content{background-color: #f5f5f5; width:100%; padding: 50px; border:1px solid #e5e5e5;/* overflow: hidden;*/}
.content:after, .content:before {
    clear: both;
    content: "";
    display: block;
}

.my-activities .content .activity,
.content .media {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}
.my-activities .content .activity:last-child,
.content .media:last-child{
    border: none;
}
.media.below{
    border-bottom-width: 10px;
    border-color: #aaa;
}
/*.my-activities*/ .content .action{position: absolute; right:10px; top:50%; margin-top: -25px; transform: translate(0,-50%);}
/*.my-activities*/ .content .action.action-1{margin-top: -16px;}
/*.my-activities*/ .content .action i.fa{font-size: 30px;}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{color:#fff; background-color: transparent;
}

.topLink{position: fixed; bottom:20px; right:20px; z-index: 999;}
.topLink i.fa{
    width:60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    font-size: 20px;
    text-align: center;
    animation-name: float;
    -webkit-animation-name: float; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    box-shadow: 0 3px 20px -2px rgba(0,0,0,0.5);
}
.topLink i.fa:hover{background-color: #08c5d5; color:#fff;animation-play-state: paused; -webkit-animation-play-state: paused;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes float {
    0% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-20px);}
}

/* Standard syntax */
@keyframes float {
    0% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-20px);}
    100% {bottom: 50px;}
}

abbr,
abbr[title]{
    border: none;
    text-decoration: none;
}

/*days available*/
/*
----------------accordion filters
*/
button.accordion,
a.accordion {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #222;
    cursor: pointer;
    font-family: 'Bebas', sans-serif;
    word-spacing: 3px;
    font-size: 24px;
    margin: 20px 0;
    outline: none;
    text-align: left;
    width: 100%;
    position: relative;
}
button.accordion span{display: none;}
button.accordion.active span{display: inline-block;}
button.days:after {
    content: '\f056';
    font-family: FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    color: #ea0001;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
/*added */
button.days.active:after{
    content: '\f056';
    font-family: FontAwesome;
    color: #ea0001;
}
span.commit {
    right: 0;
    position: absolute;
    top: 0;
    margin-top: 20px;
    transform: translate(0, -50%);
    z-index: 1;
}
div.panel {
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    margin-bottom: 10px;
    padding: 0 20px 0 80px;
    border:none;
    box-shadow: none;
}
.panel .time li{font-size: 20px; border-bottom: 1px solid #ddd; line-height: 2; padding: 10px 0;}
.panel .time li input{float: right;}
/*
----------------accordion filters ends
*/

.add-days ul li{font-size: 24px; line-height: 2; padding: 5px 0; border-bottom: 1px solid #ddd;}
.add-days ul li:last-child{border-bottom: none;}

/*sizes radio buttons*/
.sizes{position: relative;}
.sizes label{padding-left: 0; margin-bottom:20px; margin-right:20px;}
.sizes span {
    color:#000;
    width: 70px;
    height: 70px;
    line-height: 68px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.sizes input[type="radio"] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.sizes .radio span:hover,
.sizes .radio span:focus {
    background-color: #ddd;
    color:#fff;
}
.sizes input[type="radio"]:checked + span{
    background-color: var(--blue);
    color:#fff;
    border-color: var(--blue);
}
/*sizes radio buttons ends*/

/*chat*/
.chats{color:#fff;}
.chat{display: flex;}
.chat-list{background-color: #222; width:100%; padding: 10px; height: auto; position: relative; min-height: 0; max-height: 550px; overflow-y: scroll; flex: 1;}
/*.chat-list > form{position: fixed; z-index: 0; }*/
.chat-list input.form-control.search{background-color: #777;color:#fff;width:100%; border: none; height: 50px;}
.chat-list .input-group-btn>.btn{background-color: #777;color:#fff;border: none; height: 50px;border-radius: 0;}
.chat-list .msgs{padding:5px; padding-bottom: 20px; border-bottom-color: #777; margin: 0;}
.chat-list .msgs .time{position: absolute; right: 10px; top:15px;font-size: 12px;}
.chat-list .msgs .msg-count{position: absolute; right: 10px; top:50px; background-color: var(--blue); width: 30px; height: 30px; line-height: 30px; border-radius: 50%; text-align: center;font-size: 12px;}

.chat-message{background-color: #eee; width:100%; padding: 10px; height: auto;position: relative; flex: 2;}
.chat-message header{background-color: #fff; color: #222; width:100%; padding: 10px; /*height: 50px;*/ position: relative; margin-bottom: 10px;}
ul.options {position: absolute;right: 0;top: 50%;transform: translate(0%,-50%);z-index:1;}
ul.options li a{margin: 0 5px;}
ul.options li a i.fa{font-size: 24px;}

.conversation{margin: 10px 0; height: 350px; max-height: 380px; overflow-y: scroll;}
.conversation .reciever{float: left;}
.conversation .sender{float: right;}
.conversation .media{border: none; margin-bottom: 20px;}
.conversation .media-body{ max-width: 350px;}
.conversation .media-heading{ background-color: #fff;color:#333; padding: 10px; border-radius: 4px;}

.type-space{position: absolute; bottom:0; z-index: 1; right:0; left:0;}
.type-space textarea.form-control{border-radius: 0; border-right:none;height: 74px; max-height: 74px; max-width: 100%;}
.type-space .input-group-btn>.btn{background-color: #fff; height: 74px; border-left: none;}

.type-space textarea.form-control:hover,
.type-space .input-group-btn>.btn:hover,
.type-space textarea.form-control:focus,
.type-space .input-group-btn>.btn:focus,
.type-space textarea.form-control:focus:hover,
.type-space .input-group-btn>.btn:focus:hover{
    box-shadow: none; outline:0; border-color: #ccc;
}



/*switch checkbox*/
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 32px;
  margin: 10px 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: 0px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*event*/
.event-img{max-height: 300px; width:100%; overflow: hidden;}
.event-img img{max-width:100%;height: auto; object-fit: cover; object-position: center center;}

/*add friend*/
#accordion .btn{text-align: left; font-size: 18px;}
.panel-list{
    max-height: 380px;
    max-height: 380px;
    overflow-y: scroll;
    background-color: #fff;
    padding: 0 20px;
    margin-top: 10px;
    padding-top: 30px;
}
.panel-list>div{margin-top: 30px;}
.panel-list .player .action{margin-top: -14px;}

.size-chart table td,
.size-chart table{border: 1px solid #777;}
.measure img{display: inline-block;}


/*post or feed*/
.post-user{font-size: 20px; font-weight: bold;}


/*media queries*/
@media only screen and (min-width:992px){
	.condensed.navbar-default .navbar-nav.menu-left,
	.condensed.navbar-default .navbar-nav.menu-right {margin-top: 40px;}
    .media-body {max-width: 610px;}
}

@media only screen and (min-width:1200px){
    .media-body {max-width: 750px;}
}

@media only screen and (max-width:991px){
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        /*border-top: 1px solid transparent;*/
        /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
    }
    .navbar-collapse.collapse {
        display: none!important;
        border: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        border: none;
    }
    .navbar-default .navbar-nav {
        float: none!important;
        margin-top: 1px;  /*-15px*/
	    z-index: 2;
	    background: #222;
	    padding: 20px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-toggle{
    	margin: 40px 0;
    }
    .navbar-right{margin-right:0;}
    .navbar-nav>li>a.btn {
	    display: inline-block;
	    margin: 5px 0;
	}
    .navbar.navbar-default.transparent{position:relative; margin-bottom: 0px; background-color: #12959f; }

    .copyright p, .copyright ul{text-align: center; float: none;}
    .top-image h1{font-size: 27px;}
    .navbar-default .navbar-toggle{margin: 40px 0px;}
    .navbar-default .navbar-nav>li.active>a,
	.navbar-default .navbar-nav>li.active>a:hover,
	.navbar-default .navbar-nav>li.active>a:focus{ border-bottom: none; background-color: rgba(255,255,255,0.025);}
	.navbar-collapse.in {overflow-y: scroll!important; min-height: 100vh;}
    .media-body {max-width: 370px;}
    /*.chat-list .msgs img{width:50px;}*/
    .chat-list .msgs .media-heading{font-size: 15px; font-weight: normal;}
    .chat-list .msgs .message{font-size: 13px; font-weight: normal;}
    .chat-list .msgs .time{font-size: 11px;}
    .chat-list .msgs .msg-count{top:40px; width:25px;height:25px;line-height:25px;font-size: 11px;}
    /*.chat{display: block;}*/
    .chat-list{flex:1;}
    .chat-message{flex:1;}
    .h1{font-size: 175%; line-height: 175%;}
    .h2{font-size: 150%; line-height: 150%;}
    .h3{font-size: 120%; line-height: 120%;}

}

@media only screen and (max-width:768px){
	.top-image h1{font-size: 20px;}
	.navbar-right{margin-right:-15px;}
	.top-image img{display: none;}
	.nav-pills li {float: none; margin: 10px 0;}
	.navbar-default .navbar-toggle{margin: 40px 15px;}
	.footer-social li a i.fa{margin-bottom: 10px;}
    .tab-content {padding: 20px;}
    #posts .thumbnail {padding: 15px;}
    .nav-pills.pill-3 li.active a:before, .nav-pills.pill-3 li.active a:after,
    .nav-pills.pill-2 li.active a:before, .nav-pills.pill-2 li.active a:after{content: none;}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333; line-height: 1.5; font-size: 1.6rem;}
    .action{position: relative!important; right: 0!important; top: 0; margin-top: 0!important; transform: none!important;}
    .media-body {max-width: none;}
    .content{padding: 15px;}
    .add-player .player .action{position: absolute!important;}

    .chat-list{flex:1; min-width: 115px;}
    .chat-message{flex:6;}
    .chat-list .msgs .media-left{position: relative;}
    .chat-list .msgs .msg-count{width:15px;height:15px;margin-top: -7.5px;top: 50%;left: 50%;transform: translate(50%,100%);}
    .chat-list .msgs .msg-count p, .chat-list .msgs .time, .chat-list .msgs .media-body{display: none;}
    .chat-list .msgs .message{font-size: 13px; font-weight: normal;}
    .conversation img.media-object{width:50px;}
    .conversation .media .media-body{padding-top:0!important;}
    .conversation .media .media-heading{font-size: 80%;}
}

@media screen and (min-width: 1920px){
    .skewed-after, .skewed-before{
        display: none;
    }
}

@media only screen and (max-width:640px){
    .media img.media-object{width: 50px;}
    .media .media-heading{font-size: 20px;}
}

/**added by imt*/
/*.ajaxLoader{
	display: none;
	margin-left: 46%;
	margin-top: 10px;
} */
.error {
    color: red;
    border: 1px solid #ccc;
    padding: 10px;
    background: #faffbd;
	text-align: center;
} 
.message {
    border: 1px solid #ccc;
    padding: 10px;
    background: #faffbd;
    color: green;
    text-align: center;	
}
/*error class for  input type*/
.errorClass {
    border: 1px solid red; 
}
.selected {
    background: #7eb530;
}
.selectedx{
	background: #ccc;
	padding: 2px;
	border-radius: 10px;
}
h3.customhead {
    margin-top: 35px;
}
.removerow {
    display: none; 
}
/*added for   detail tabs */

.detailtab {
    border: 1px solid #ccc;    
    margin-bottom: -1px;
}

.detailtab h4 {
	padding: 15px;
    font-size: 22px;
    margin: 0;
}
.detailtab:hover {
    background: #ccc;
}

.action-left {
	left: 0;
    right: auto!important;
    margin-top: -15px!important;
}
.add-days img {
    padding: 5px;
}
/*details tab end */
/*input type  file */

/*added for business profile */
.business-options{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 6px;
    min-height: 200px;
    position: relative;
}
.business-options a{
    display: block;
}
.business-options:hover{
    box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.2);
    border-color: var(--blue);
}
.business-options .icon{
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #222;
    width:50px;
    height: 50px;
    line-height: 50px;
    transition: 0.2s all linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
}
.business-options .icon:hover{
    box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.3);
}
.business-options:hover .icon{
    color: white;
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 4px;
}
.business-options .text{
    font-size: 18px;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
}
.business-options:hover .text{
    color: white;
    background-color: var(--blue);
}
/*added b imt*/
.bold {
    font-size: 22px;
    font-weight: 999;
}
/*added for button  add act */
a#addanotherteam {
    border: 1px solid #ccc;
    padding: 11px;
    background: #12959f;
}

/*added css for Google translator */

.goog-te-banner-frame{display:none;}

#google_translate_element {
	position: fixed;
    top: 4px;
    right: 0;
}
/*added css for Google translator */ 

/*added for input tpe  file in  feed */
/*file input*/
input[type="file"] {
    display: none;
}
.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    /*overflow: hidden;*/
    margin-bottom: 0;
    font-weight: normal;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/*added for  notification header*/
ul#headernotificationdropdown {
    min-width: 315px;
}
/*chat group*/
.group .media {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}
.group .action {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    transform: translate(0,-50%);
}
.added-members .media {
    display: inline-block;
    border-bottom: 0;
    padding-bottom: 0;
}
.added-members .removerow {
    display: none !important;
}
.added-members .action {
    position: absolute;
    right: 10px;
    bottom: 0;
    top: auto;
    transform: none;
}
.added-members .close {
    font-size: 13px;
    opacity: 0.9;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    width: 21px; 
    height: 21px;
    line-height: 21px;
    text-align: center; 
}
.added-members .close:hover {
    background-color: #333;
    color: #fff;
}
/*added by create  group */
    .chat-group{
		padding: 10px;
		background-color: #777;
		margin-top: 5px;
	}
	
.group-done-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    margin-top: -15px;
}

/*group admin */
.admin {
    border: 1px solid #7eb530;
    padding: 0px 7px 5px 8px;
}

/*01-02-2018*/
.msgs a img {
width: 70px;
   height: 70px;
   object-fit: cover;
}
.chat-list .msgs:hover,
.chat-list .msgs:focus ,.activechat{
   background-color: rgba(265,265,265,0.1);
   border-radius: 4px;
   cursor: pointer;
}
/*added for disable  and blur  anchor tag*/

.disabledlink {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.acceptrequest,.rejectrequest{
	cursor: pointer;
}
/*achievements*/
.achievements {
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 4px;
    /*box-shadow: 0 0 35px 4px rgba(0,0,0,0.2);*/
    position: relative;
    z-index: 1;
    overflow: hidden;
	min-height: 250px;
    max-height: 250px;
}
.achievements:hover {
    /*box-shadow: 0 0 10px 2px rgba(0,0,0,0.12);*/
    /*border: 1px solid var(--blue);*/
}
.achievements .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.achievements:hover img {
	transform: scale(0.8);
}
/*added by imt*/
.panelopen {
    max-height: none!important;
    height: auto;
}


/*custom hover menu*/
.dropdown-hover-menu {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
.dropdown-hover-menu>li>a {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.5;
    border-bottom: 1px solid #aaa;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
}
.dropdown-hover-menu>li>a:hover {
    background-color: #f5f5f5;
}
.dropdown:hover .dropdown-hover-menu {
    display: block;
}

@media only screen and (max-width:991px){
    .dropdown:hover .dropdown-hover-menu {
        display: block;
        left: 0;
        right: 0;
    }
}

/*added by imt  for  hover effect */


/* .hover-content {
   position: absolute;
   opacity: 0;
   transition: 0.2s all ease-in;
   display: block;
   width: 100%;
   background: rgba(0,0,0,0.7);
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   z-index: 2;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 3;
}
.achievements:hover .hover-content {
   display: block;
   opacity: 1;
} */

/*model css  */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 155px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content  for all models */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#achievementmodel .modal-content {
    width: 30%;
	background-color: #635555;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#closeachievementback {
    font-size: 20px;
    font-weight: 700;
}
/* The Close Button */
/* .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */
	#achievementmodel .close {
		color: #000!important;
	}
	.white {
		color: #fff;
	}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #12959f;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #12959f;
    color: white;
}
.join_comn{
	float: right;
    background: #fff;
    border: 1px solid orange;
    padding: 0px 20px 2px 20px;
    color: orange;
    border-radius: 5px;
}
.btn-orange {
background-color: orange;
color: #fff;
   padding: 0px 20px 2px 20px;    
   border-radius: 5px;
}
.btn-border.btn-orange {
background-color: white;
color: orange;
border: 1px solid orange;
}
.groupmain{
	text-align:right;
}
.dlinkj{
	background:transparent;
	border:none;
}
.navbar{
	z-index: 99999;
}