.forgotPwd {
	overflow-x: hidden;
    font-family: Open Sans;
    margin-top: 0px;
}
/* .video_portion{
	background-image: url(../../../assets/images/newAssests/gif.gif);
	height:100vh;
	background-size: 100%;
	background-position: 50%;
	position: relative;
	left: -15px;
	color:#fff;
} */
.video_section{
	position: relative;
}
.overlay{
	position: absolute;
	min-height: 100%;
	width: 100%;
	background-color:#272a39cc;
}
.inner_left{
	position: relative; 
}
.inner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;

}
.inner_left .welcome{
	color:#fff;
    font-weight: 600;
    margin-bottom: 17px;
	font-size: 12px;
	letter-spacing: 1.09px;
	opacity: .89;
}
.inner_left h2{
	text-transform: uppercase;
	margin-bottom: 33px;
	opacity: .89;
	font-size: 20px;
	color: #FFF;
	letter-spacing: 1.42px;
	line-height: 27px;
	font-weight: 600;
}
.inner_left img {
    width: 100px;
}
.italic{
	margin-bottom: 35px;
opacity: .69;
font-style: italic;
font-size: 15px;
color: #FFF;
line-height: 25px;
}
.padding_inner {
    padding: 22px;
    text-align: center;
}
.follow_us{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;

}
.follow_us li{
	list-style: none;
	display: inline-block;
}
.follow_us p{
	margin-bottom: 28px;
	opacity: .39;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: .91px;
}
.follow_us li {
    padding-right: 30px;
}
.inline_signup{
	display: inline;
}
.up_button{
	position: absolute;
	right:0px;
	margin-right: 38px;
	top:0px;
	margin-top: 38px;
	font-size: 13px;
	color:#596377;
	line-height: 36px;
}


.up_button .btn {

    background: #fff;
    background-color: rgb(255, 255, 255);
    border: 1px solid #C6CCD7;
    border-radius: 100px;
    font-weight: 700;
    font-size: 10px;
    color: #596377;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 12px;
    padding: 0 28px;
    height: 36px;
    line-height: 36px;

}

.forgot_pwd_pg {
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
align-items: center;
vertical-align: middle;
height: 100vh;
}
.main_forgot_pwd_pg {

    clear: both;
    width: 90%;
    max-width: 540px;
    margin: 0 auto;

}
.main_forgot_pwd_pg h1{
	font-size: 28px;
	font-weight: 400;
	color: #434C5F;
	margin-bottom: 50px;
}
.form_subheading{
	margin-top: 10px;
	font-size: 16px;
	color: #596377
}
.forget_btn{
		margin: 21px;
		background: #12959f;
		border-radius: 100px;
		height: 50px;
		line-height: 50px;
		padding: 0 60px;
		font-size: 12px;
		font-weight: 700;
		color: #FFF;
		border:1px solid transparent;
		letter-spacing: 1px;
		margin-left: 0px;
}
.forget_btn:hover{
		background: #fff;
		border:1px solid #12959f;
		color: #12959f;
		transition: 0.3s;
		box-shadow: 0px 0px 4px 1px #d2d2d7;
}
.up_button .btn:hover{
	background: #fff;
		border:1px solid #12959f;
		color: #12959f;
		transition: 0.9s;
		box-shadow: 0px 0px 4px 1px #d2d2d7;
}
.form-control {

    border: 1px solid #D4D9E2;
    border-radius: 3px;
    padding: 5px 9px;
    font-size: 14px;
    color: #596377;
    outline: 0;
     height: 48px;
}
::placeholder {
    color: #d2d2d7 !important;
    opacity: 1; /* Firefox */
}
label {
    font-weight: 700;
    font-size: 11px;
    color: #434C5E;
    margin-bottom: 8px;
    letter-spacing: 2px;

}
.forgot_link{
	float: right;
	font-size: 12px;
	color:#8C96A9;
}
.form-control:focus {

    border-color: #8C96A9;
    outline: 0;
    box-shadow:none;
}
.fwd_pwd{
	width: 50%;
	margin:0 auto;
}
.logo img{
	width: 50px;
	margin-left:  25px;
	margin-top: 25px;
	position: absolute;
	left:0px;
}

/* responsive */

@media (max-width: 992px){
	.logo{
	   display: none;
	}
	.up_button{
	   margin-top: 20px;
	}
	.main_forgot_pwd_pg{
	   font-size: 22px;
	   margin-bottom: 20px;
	}
	.form_subheading{
	   font-size: 12px;
	}
	
	.fwd_pwd{
	   width: 100%;
	}
	}