.container {
	background-image: url('../../../assets/images/sports-bg.jpg');
	background-size: 100%;
	background-attachment: fixed;
}
.events_nearby_pg{
	background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.events_nearby_pg .events_nearby_card{
	background-color: #f9f9ff;
	border-radius: 4px;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	height: 280px;
	margin-top: 20px;

}

.events_nearby_pg .events_nearby_card img {
    width: 100px;
}

.events_nearby_pg .detail_nearbyevents p {
    margin: 0px;
    line-height: 26px;
}
.events_nearby_pg .detail_nearbyevents {
    padding: 12px;
    padding-top: 0px;
}
.events_nearby_pg .head_card {
    padding: 12px;
    padding-bottom: 0px;
}
.events_nearby_pg .head_card p {
    margin-top: 1em;
}
.events_nearby_pg .title_events_nearby {
    color: #12959f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}

.events_nearby_pg .location{
	color: #333;
	font-size: 12px;
}
/*.events_nearby_pg .open_card{
	width:100%;
	background-color:#12959f;
	color:#fff;
	border:1px solid transparent;
	margin-top: 20px;
	padding:10px;
}

.events_nearby_pg .open_card:hover{
	background-color:#fff;
	color:#12959f;
	border:1px solid #12959f;
	padding:10px;
}*/

/*----------Action_Dropdown----------------*/


.action_dropbtn {
    background-color: #12959f;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: 1px solid transparent;
    width:100%;
    margin-top: 20px;
    padding:10px;
    border-radius: 4px;
}
.action_dropbtn:hover{
	background-color:#fff;
	color:#12959f;
	border:1px solid #12959f;
	padding:10px;
}

.action_dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.action_dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.action_dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.load_more_btn{
	background-color: #12959f;
	color:#fff;
	font-weight: bold;
	padding: 12px 45px;	
	border:1px solid transparent;
}

.load_more_btn:hover{
	background-color: #fff;
	color:#12959f;
	border:1px solid #12959f;
	
}

.load_more{
	text-align:center;
	margin-top: 50px;
}
.dropdown-content a:hover {background-color: #ddd;}

.action_dropdown:hover .dropdown-content {display: block;}

.action_dropdown:hover .dropbtn {background-color: #3e8e41;}



.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.upspace{
	margin-top: 20px;
}
#sel1{
	-moz-appearance: none !important;
  -webkit-appearance: none !important;
  
  -o-appearance: none !important;
  -appearance:none !important;
  /* no standardized syntax available, no ie-friendly solution available */
}
select::-ms-expand {
        display: none !important;
    }

select + i.fa {
  float: right;
  margin-top: -25px;
  margin-right: 5px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
}
/*-------------------------------------------------------------*/

@media (max-width: 768px){

}