<div class="container">
  <section class="events_nearby_pg">
      <div class="row">
        <div class="col-md-12">
          <div class="nearby_form">
          
                  <div id="imaginary_container"> 
                      <div class="input-group stylish-input-group">
                          <input type="text" class="form-control"  placeholder="Search" >
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                              </button>  
                          </span>
                      </div>
                  </div>

                  <div class="col-md-4">
                    <div class="upspace select_event_loc">
                      <form>
                       <div class="form-group">
                  <select class="form-control" id="sel1">
                    <option value="" disabled selected>Select Location</option>
                    <option value="hurr">2</option>
                    <option value="hurr">>3</option>
                    <option value="hurr">>4</option>
                  </select>
                  <i class="fa fa-chevron-down"></i>
                </div> 
              </form>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="upspace select_event_catagory">
                      <form>
                       <div class="form-group">
                  <select class="form-control" id="sel1">
                    <option value="" disabled selected>Select Event Category</option>
                    <option value="hurr">2</option>
                    <option value="hurr">>3</option>
                    <option value="hurr">>4</option>
                  </select>
                  <i class="fa fa-chevron-down"></i>
                </div> 
              </form>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="upspace select_distance">
                      <form>
                       <div class="form-group">
                  <select class="form-control" id="sel1">
                    <option value="" disabled selected>Select Distance</option>
                    <option value="hurr">2</option>
                    <option value="hurr">>3</option>
                    <option value="hurr">>4</option>
                  </select>
                  <i class="fa fa-chevron-down"></i>
                </div> 
              </form>
                    </div>
                  </div>
              

          </div>
        </div>
        <div class="col-md-4">
          <div class="events_nearby_card">
            <div class="head_card text-center">
              <img src="./imgs/handball.png">
              <p><a href="#"><span class="title_events_nearby">TESTING EVENT</span></a></p>
            </div>

            <div class="detail_nearbyevents">
              
              <p><span class="location">Mohali,India</span></p>
              <div class="action_dropdown">
                <button class="action_dropbtn">Action</button>
                <div class="dropdown-content">
                  <a href="#">NAVIGATE</a>
                  <a href="#">EDIT</a>
                  <a href="#">DELETE</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="events_nearby_card">
            <div class="head_card text-center">
              <img src="./imgs/ball.png">
              <p><a href="#"><span class="title_events_nearby">TESTING EVENT</span></a></p>
            </div>

            <div class="detail_nearbyevents">
              
              <p><span class="location">Mohali,India</span></p>
              <div class="action_dropdown">
                <button class="action_dropbtn">Action</button>
                <div class="dropdown-content">
                  <a href="#">NAVIGATE</a>
                  <a href="#">EDIT</a>
                  <a href="#">DELETE</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="events_nearby_card">
            <div class="head_card text-center">
              <img src="./imgs/archery.png">
              <p><a href="#"><span class="title_events_nearby">TESTING EVENT</span></a></p>

            </div>

            <div class="detail_nearbyevents">
              
              <p><span class="location">Mohali,India</span></p>
              <div class="action_dropdown">
                <button class="action_dropbtn">Action</button>
                <div class="dropdown-content">
                  <a href="#">NAVIGATE</a>
                  <a href="#">EDIT</a>
                  <a href="#">DELETE</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="load_more">
            <button type="button" class="btn btn-default load_more_btn">Load More</button>
          </div>
        </div>
      </div>
  </section>
</div>