<!--Left bar -->

<section class="col-md-2 left_portion">
  <div class="profile_info clearfix">
    <div class="pic_name clearfix">
      <div class="col-md-6">
        <img class="image-circle " src="./imgs/user.png">
      </div>
      <div class="col-md-6 name_age">
        <h3>JOHN DEO</h3>
        <p>23,MALE</p>
      </div>
    </div>
  </div>

<div class="points">
  <ul>
    <li><i  style="color:#f7c200;" class="fas fa-star"></i> &nbsp;Level 3  (1525 Points)</li>
    <li><i style="color:#f66b59;" class="fas fa-basketball-ball"></i> &nbsp;ACTIVITIES  15</li>
    <li><i style="color:#38596c;" class="fas fa-calendar-alt"></i> &nbsp;EVENTS 9</li>
  </ul>
</div>

<div class="tabs_links">
  <ul>
    <a href="#"><li><i class="fas fa-trophy"></i> &nbsp;Achevements</li></a>
    <a href="#"><li class="active"><i class="fas fa-tachometer-alt"></i> &nbsp;Days Avaliable</li></a>
  </ul>
</div>
</section>

<!-- end Left -->
<section class="col-md-10">
  <div class="title_page">
    <h1>DAYS AVALIABLE<span>DAYS AVALIABLE</span></h1>
  </div>

    <div class="days_avaliable_portion">
      <div class="container-fluid orders days_avaliable_table">   
        <section class="table_entrydata">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>   
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td class="text-center" style="color:#12959f;">
                      <h4>Closed</h4>
                  </td>

                  
                  <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker1'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>

                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker2'>

                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                        <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker1').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker2').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>
                  <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker3'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker4'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker3').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker4').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>
                  <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker5'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker6'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker5').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker6').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>
                  <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker7'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker8'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker7').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker8').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>
                    <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker9'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker10'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker9').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker10').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>
                  <td>
                      <div class="form-group">
                          <label>Start</label>
                          <div class='input-group date' id='datetimepicker11'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>End</label>
                          <div class='input-group date' id='datetimepicker12'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-time"></span>
                              </span>
                          </div>
                      </div>
                      <a style="color:#12959f;"href="#">Set more slot(s)</a>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker11').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker12').datetimepicker({
                                  format: 'LT'
                              });
                          });
                      </script>
                  </td>                        
                </tr>    
            </tbody>                 
          </table>


          <div class="update_days text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
          <div class="instruction">
              <p>Instructions:&nbsp;add your time limit and any type of instruction here .</p>
          </div>
      </section>
    </div>  

  </div>
</section>