<section class="col-md-2 left_portion">
		<div class="profile_info clearfix">
            <div class="pic_name clearfix">
                <div class="col-md-6">
                    <!-- <img class="image-circle " [src] ="user.user_pic ? imagePath + user.user_pic : displayImage"> -->
            
                    <img class="image-circle " *ngIf="userShow.google_id !== '' " [src] ="userShow.user_pic ? userShow.user_pic : displayImage">
                    <img class="image-circle " *ngIf="userShow.twitter_id !== '' " [src] ="userShow.user_pic ? userShow.user_pic : displayImage">
                    <img class="image-circle " *ngIf="userShow.facebook_id !== '' " [src] ="userShow.user_pic ? userShow.user_pic : displayImage">
                    <img class="image-circle " *ngIf="userShow.facebook_id == '' &&  userShow.google_id == '' && userShow.twitter_id == '' " 
                    [src] ="userShow.user_pic ? imagePath + userShow.user_pic : displayImage">
                </div>
                <div class="col-md-6 name_age">
                    <h3>{{userShow.first_name}}{{userShow.last_name}}</h3>
                    <p *ngIf="userShow.gender == 0 ">{{userShow.age}},Male</p>
                    <p *ngIf="userShow.gender == 1 ">{{userShow.age}},Female</p>
                    <p *ngIf="userShow.gender == 2 ">{{userShow.age}},Other Identity</p>
                </div>
            </div>
		</div>

	<div class="points">
		<ul>
            <li><i  style="color:#f7c200;" class="fas fa-star"></i> &nbsp;LEVEL {{userShow.level}} ( {{userShow.points}} Points)</li>
            <li><i style="color:#f66b59;" class="fas fa-basketball-ball"></i> &nbsp;ACTIVITIES  {{userShow.linkup_count}}</li>
            <li><i style="color:#38596c;" class="fas fa-calendar-alt"></i> &nbsp;EVENTS {{userShow.event_count}}</li>
		</ul>
	</div>

	<div class="tabs_links">
		<ul>
			<a><li class="active"><i class="fas fa-trophy"></i> &nbsp;Achievements</li></a>
			<a><li><i class="fas fa-tachometer-alt"></i> &nbsp;Days Avaliable</li></a>
		</ul>
	</div>
</section>



<!-- end Left -->
<section class="col-md-10">
	
		<div class="title_page">
			<h1>ACHIEVEMENTS<span>ACHIEVEMENTS</span></h1>
        </div>
        <!-- userAchievements -->
	
        <div class="achievement-portion">

        	<div class="col-sm-6 col-md-3" *ngFor="let userAchievement of userAchievements">
                <div class="acchievements">
                    <div class="hover_acchievement middle">
                        <div class="acchievement_text">
                             <img [src] ="localAchievementsImage + userAchievement.image ">
                           <h4 *ngIf="userAchievement.status == 1 ">CONGRATULATIONS</h4>
                           <h4 *ngIf="userAchievement.status == 0 ">Achievement Not unlock Yet</h4>
                           <p>{{userAchievement.message}}</p>
                        </div>
                    </div>
                    <img *ngIf="userAchievement.status == 1 " [src] ="localAchievementsImage + userAchievement.image">
                    <img *ngIf="userAchievement.status == 0 " class="disabled_img" [src] ="localAchievementsImage + userAchievement.image">
                </div>
            </div>
        </div>
</section>