
  .left_portion{
      background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      height:100vh;
      padding: 0px;
  }
  .image-circle{
      border-radius: 50%;
      width: 67px;
      height: 67px;
      object-fit: unset;
  }
  .col-md-9.name_age h3 {
  
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px; 
  }
  .name_age p {
      font-size: 12px;
      color: #5f6368;
  }
  .name_age{
      padding-left: 20px;
  }
  .pic_name {
      width: 60%;
      margin: 0 auto;
      margin-left: 25px;
      padding-top: 46px;
      padding-bottom: 46px;
  }
  .name_age h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 2px;
  }
  ul{
      list-style: none;
  }
  .points {
      font-size: 12px;
      line-height: 21px;
      background-color: #f8f8f8;
      padding-top: 13px;
      padding-bottom: 7px;
  }
  .tabs_links{
      margin-top: 46px;
  
  }
  .tabs_links ul{
      padding: 0px;
  }
  .tabs_links li {
  
      background-color: #f8f8f8;
      margin-top: 20px;
      padding: 20px;
      padding-left: 20px;
      padding-left: 38px;
  
  }
  
  .tabs_links li:hover , .tabs_links .active {
      box-shadow:0px 0px 10px 0px #3333;
      background-color: #12959f;
      color:#fff;
  }
  .tabs_links a{
      color:#333;
      text-decoration: none;
  }
  .achievement-portion{
      background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      padding: 19px;
      margin-top: 15px;
      height: 75vh;
      overflow-y: scroll;
  }
  .title_page {
      margin-bottom: 18px;
      background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      padding: 19px;
  }
  .title_page h1{
      position: relative;
      z-index: 1;
      font-weight: bold;
      text-align: center;
  }
  .title_page h1 span{
      white-space: nowrap;
      color: #000;
      font-size: 73px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.1;
      opacity: 0.03;
      margin-top: -5px;
  
  }
  
  .acchievements img{
      width: 100%;
  }
  .acchievements{
      position: relative;
      margin-top: 30px;
      padding:15px;
  }
  .hover_acchievement{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      background-color: transparent;
      opacity: 0;
      text-align: center;
  
  }
  .disable .hover_acchievement{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      opacity: 1 !important;
      background-color: #333333b3;
      text-align: center;
      color: #fff;
  
  }
  .hover_acchievement:hover{
      background-color: #333333b3;
      color: #fff;
      opacity: 1;
      transition: 0.4s;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 1px #333333b3;
  
  }
  .acchievement_text img{
      width: 80px;
  }
  .acchievement_text h4{
      font-weight: bold;
      font-size: 16px;
  }
  .acchievement_text p{
      font-size: 12px;
      margin-top:10px;
  }
  .acchievement_text {
      transform: translateY(15%);
  }
  
  /*---------------------------Responsive----------------------------------------*/
  @media only screen and (min-width:320px) and (max-width:768px){
      .left_portion {
          height: auto;
      }
      .title_page h1 span {
          font-size: 55px;
      }
      
      .profile_info {
          text-align: center;
      }
      .pic_name{
          margin:0 auto;
      }
  }