.signUp{
	overflow-x: hidden;
    font-family: Open Sans;
    /* margin-top : 60px; */
}

/* slides  left space*/
.slides {
    overflow:hidden;
    background-image: url(../../../assets/images/newAssests/bg8.jpg);
    height:100vh;
	background-size: 100%;
	background-position: 50%;
	position: relative;
	left: -15px;
	color:#fff;
}
.video_section{
	position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    width: 97%;
    background-color: #505258e6;
    z-index: 99999;
}
.inner_left{
	position: relative; 
}
.inner_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;
    position: absolute;
    z-index: 9999999;
    transform: translateX(12%);

}
.inner_left .welcome{
	color:#fff;
    font-weight: 600;
    margin-bottom: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .89;
}
.inner_left h2{
	text-transform: uppercase;
	margin-bottom: 33px;
	opacity: .89;
	font-size: 20px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 27px;
	font-weight: 600;
}
.inner_left img {
    width: 100px;
}
.italic{
	margin-bottom: 35px;
opacity: .69;
font-style: italic;
font-size: 15px;
color: #FFF;
line-height: 25px;
}
.padding_inner {
    padding: 22px;
    text-align: center;
}

.padding_inner .img_logo{
    cursor: pointer;
}
.follow_us{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 999999;
	padding-bottom: 20px;

}
.follow_us li{
	list-style: none;
	display: inline-block;
	
}
.follow_us p{
	margin-bottom: 28px;
	opacity: .39;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
}
.follow_us li {
	padding-right: 30px;
	color: #fff;
}


.slides ul {
    list-style:none;
    position:relative;
}

.dob_div .datePickerIcon {
    position: absolute;
    top: 33px;
    right: 0px;
}
 .dob_div {
    position: relative;
}

 .selectGenderClass {
    height: 34px;
    padding-top:12px !important;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    60% {
        opacity:0;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    60% {
        opacity:0;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 30.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 30.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 4.0s;
    -moz-animation-delay: 4.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(5), .slides ul  li:nth-child(5) div {
    -webkit-animation-delay: 8.0s;
    -moz-animation-delay: 8.0s;
}
.slides ul  li:nth-child(6), .slides ul  li:nth-child(6) div {
    -webkit-animation-delay: 10.0s;
    -moz-animation-delay: 10.0s;
}
.slides ul  li:nth-child(7), .slides ul  li:nth-child(7) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(8), .slides ul  li:nth-child(8) div {
    -webkit-animation-delay: 14.0s;
    -moz-animation-delay: 14.0s;
}

.slides ul li img {
    display:block;
    width: 100%;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
.left_space{
	padding-left: 0px;	
}

/* right side */


.inline_signup{
	display: inline;
}

.up_button{
	position: absolute;
	right:0px;
	margin-right: 38px;
	top:0px;
	margin-top: 38px;
	font-size: 13px;
	color:#596377;
	line-height: 36px;
}


.up_button .btn {

    background: #fff;
    background-color: rgb(255, 255, 255);
    border: 1px solid #C6CCD7;
    border-radius: 100px;
    font-weight: 700;
    font-size: 10px;
    color: #596377;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 12px;
    padding: 0 28px;
    height: 36px;
    line-height: 36px;

}

.signup_form {
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
align-items: center;
vertical-align: middle;
height: 100vh;
}
.main_signup_form {

    clear: both;
    width: 90%;
    max-width: 540px;
    margin: 0 auto;

}
.main_signup_form h1{
	font-size: 28px;
	font-weight: 400;
	color: #434C5F;
	margin-bottom: 50px;
}
.form_subheading{
	margin-top: 10px;
	font-size: 16px;
	color: #596377
}
.signin_btn{
		margin: 21px;
		background: #12959f;
		border-radius: 100px;
		height: 50px;
		line-height: 50px;
		padding: 0 60px;
		font-size: 12px;
		font-weight: 700;
		color: #FFF;
		border:1px solid transparent;
		letter-spacing: 1px;
}
.signin_btn:hover{
		background: #fff;
		border:1px solid #12959f;
		color: #12959f;
		transition: 0.3s;
		box-shadow: 0px 0px 4px 1px #d2d2d7;
}
.up_button .btn:hover{
	background: #fff;
		border:1px solid #12959f;
		color: #12959f;
		transition: 0.9s;
		box-shadow: 0px 0px 4px 1px #d2d2d7;
}
.form-control {

    border: 1px solid #D4D9E2;
    border-radius: 3px;
    padding: 5px 9px;
    font-size: 14px;
    color: #596377;
    outline: 0;
    height: 48px;
}
::placeholder {
    color: #d2d2d7 !important;
    opacity: 1; /* Firefox */
}
label {
    font-weight: 700;
    font-size: 11px;
    color: #434C5E;
    margin-bottom: 8px;
    letter-spacing: 1px;

}

.form-control:focus {

    border-color: #8C96A9;
    outline: 0;
    box-shadow:none;
}
.s_in{
	width: 50%;
	margin:0 auto;
}
.half_input{
	width: 50%;
	float: left;
}

#gender{
	-moz-appearance: none !important;
  -webkit-appearance: none !important;
  
  -o-appearance: none !important;
  -appearance:none !important;
  /* no standardized syntax available, no ie-friendly solution available */
}
select::-ms-expand {
        display: none !important;
    }

select + i.fa {
  float: right;
  margin-top: -28px;
  margin-right: 5px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
}

.select_gender{
	width:48%;
	margin-right: 9px;
}

/*---------------picture_update*-------------/
/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 75px;
    height: 75px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    padding-bottom: 40px;
    position: relative;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}
/*--------------------------*/
.signup{padding-top: 60px;}


@media only screen and (min-width:320px) and (max-width: 768px){
	.half_input{
		width: 100%;
	}
	.main_signup_form {
	    margin-top: 285px;

	}
	.s_in {

    width: 100%;
    margin: 0 auto;

}
.video_portion {
	 left: 0px;

	}
}


/* checking */


/* new one */

.rotations:active i{
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
/* }
.rotations.down { */
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.DOB:hover{
    padding:13px 9px;
}
/* 
a:active { 
    background-color: yellow;
} */

/* .optionsStyle  {
    padding: 30px!important;
    height: 20px !important;
    color : red !important ;
    font-size: 20px;
} */


select {
    padding: 2px 10px;
    color : red;
    border: 1px solid #979997;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.postaccept {
    color : red;
    position: absolute;
    font-size: 14px !important; 
    bottom: -10px;
}



/* responsive code  */

@media (max-width:992px){
    .video_section{
       display: none;    
       margin-right:0px;
    }
    .main_login_form{
        margin-top: 130px;
    }

    .s_in[_ngcontent-c4] {
       width: 100%;
       text-align: center;
    }
}