<div class="container-fluid">
	<section class="col-md-12">
	        <div class="title_page">
	            <h1>NEW ACTIVITY<span>NEW ACTIVITY</span></h1>
	        </div>
	    	<div class=create_activity>
	    		<form class="create_activity_form">
	    			
				    <div class="form-group">
				    	<label>Members</label>
				    	 <button style="color:#ececec;" type="button" class="btn btn-default add_members_btn border choose_btn" data-toggle="collapse" data-target="#member">Add Members <i style="float:right; " class="fas fa-plus"></i></button>
						  <div id="member" class="collapse add_members_list">
						  	<div class="search_selected_list clearfix">
							    <input type="text" class="form-control" placeholder="search"/>
							    <button type="search" class="btn btn-default"><i class="fas fa-search"></i></button>
							</div>

						    <ul>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    	<li class="col-md-3"> <input type="checkbox" name="vehicle1" value="Bike"> John Deo<br></li>
						    </ul>
						  
						  </div>
				    </div>


				    <div class="form-group">
				        	<label>Activity</label>
				        	<select class="form-control border" id="games">
				        		<option value="0" disabled="disabled" selected>Select Activity</option>
							  <option value="volvo">Volvo</option>
							  <option value="saab">Saab</option>
							  <option value="opel">Opel</option>
							  <option value="audi">Audi</option>
							</select>
							<i class="fas fa-sort-down"></i>
				    </div>

				    <div class="form-group">
				        	<label>Location</label><br>
				        	<button  style="color:#ececec;" type="button" class="btn btn-default border choose_btn" data-toggle="modal" data-target="#myModal">Search <i style="float:right;" class="fas fa-search"></i></button>

				        <!-- locationModal -->
						  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						    
						      <!-- Modal content-->
						      <div class="modal-content">
						        <div class="modal-body">
							          <div class="search_selected_location clearfix">
									    <input type="text" class="form-control inputbar_location" placeholder="search"/>
									    <button type="search" class="btn btn-default"><i class="fas fa-search"></i></button>
									    <div class="map">
								    	    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13721.710780873465!2d76.70449119807257!3d30.70637461267935!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1545039774390" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
								    	</div>
						  			  </div>
							  		<div class="location_submit text-center">
							    		<button type="submit" class="btn btn-default btn_border">SUBMIT</button>
							    	</div>
						        </div>
						      </div> 
						    </div>
						  </div>
				     </div>


				    <div class="form-group">
				    	<div class="row">
					    	<div style="padding-left:0px;" class="col-md-6">
					        	<div class="form-group">
					        		<label>Privacy</label>
					        		<div class="switch1">
									  <label class="switch">
									  <input type="checkbox">
									  <span class="slider round"></span>
									</label>
									</div>
					   	 		</div>

							</div>
							<div style="padding-right:0px; padding-left:0px;" class="col-md-6">
					        	<div class="form-group">
						        	<label>All Day</label>
						        	<div class="switch1">
									  <label class="switch">
									  <input type="checkbox">
									  <span class="slider round"></span>
									</label>
									</div>
						    	</div>

					        </div>
						</div>
				    </div>

					 <div style="padding-right:12px;" class="col-md-6 space_up">
					 	<div class="form-group">
				           <label>Start Date and time</label>
			                <div class='input-group date' id='datetimepicker1'>
			                    <input type='text' class="form-control border" placeholder="dd/mm/yyyy hh:mm" />
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
				       
			       <div class="col-md-6 space_up">
			       	<div class="form-group">
			           <label>End Date and time</label>
		                <div class='input-group date' id='datetimepicker2'>
		                    <input type='text' class="form-control border" placeholder="dd/mm/yyyy hh:mm" />
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
			        </div>



    				<div class="form-group">
				        	<label>Description</label>
				        	<textarea class="description border" placeholder="Enter Description"></textarea>
				    </div>
				    <div class="form_submit_btn  text-center">
				    	<button type="submit" class="btn btn-default form_submit btn_color">ADD</button>
				    </div>
	    		</form>
	    	</div>
	</section>
</div>