<!-- <header *ngIf="HeaderOne">
  <div class="blue-bar"></div>
      <nav 
      class="navbar navbar-default" 
      [ngClass]="{'transparent': home === true, 'navbar-fixed-top': home === false}"
      >
    <div class="container">       
      <div class="navbar-header">
        <button type="button" 
        class="navbar-toggle collapsed"  
        (click)="isCollapsed = !isCollapsed"
        aria-expanded="false" 
        style="margin-top: 40px;"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/logo.png" 
          alt="Swift Spar" 
          class="img-responsive"
          >
        </a>
      </div>

      <div class="collapse navbar-collapse" 
      [collapse]=isCollapsed 
      style="top: 0px; position: relative;"
      >
        <ul class="nav navbar-nav navbar-left hidden-sm hidden-xs menu-left">
          <li class="disabled"><a routerLink="/">Store</a></li>
          <li class="disabled"><a routerLink="/about">ABOUT US</a></li>
          <li class="disabled"><a routerLink="/about">Blog</a></li>
         
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs menu-right">
          <li><a href="https://www.swiftspar.com/SwiftSpar/apps.html" target="_blank">Apps</a></li>
          <li><a id="login" routerLink="/user/login" class="btn btn-border btn-rounded">Login</a></li> 
          <li><a id="signup" routerLink="/user/signup-personal" class="btn btn-border btn-rounded">Sign Up</a></li>
        </ul>
        
        <ul class="nav navbar-nav visible-sm visible-xs">
          <li class="disabled"><a routerLink="/store">Store</a></li>
          <li class="disabled"><a routerLink="/about">About us</a></li>
          <li class="disabled"><a routerLink="/blog">Blog</a></li>
          <li><a href="https://www.swiftspar.com/SwiftSpar/apps.html" target="_blank">Apps</a></li>
          <li><a routerLink="/user/login">Login</a></li>
          <li><a routerLink="/user/signup-personal">signup</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<header *ngIf="HeaderTwo">
    <div class="blue-bar"></div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">	    
      <div class="navbar-header">
        <button 
        type="button" 
        class="navbar-toggle collapsed" 
        data-toggle="collapse" 
        data-target="#menu-collapse" 
        aria-expanded="false"
        (click)="isCollapsed = !isCollapsed">
  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-1" routerLink="/">
        <img 
        src="assets/images/logo.png" 
        alt="Swift Spar" 
        class="relative img-responsive">
        </a>
      </div>
  
      <div 
      class="collapse navbar-collapse" 
      [collapse]=isCollapsed
      id="menu-collapse">
        <ul class="nav navbar-nav navbar-right menu-right">
        <li><a routerLink="/feed/feeds"> <i class="fa fa-pencil-square-o"></i> Feed</a></li>
        <li><a routerLink="/user/under-cons"> <i class="fa fa-shopping-basket"></i> Store</a></li>
        <li><a routerLink="/chat/chat"> <i class="fa fa-commenting-o"></i> Chat</a></li>
        <li class="dropdown">
          <a class="dropdown-hover" routerLink="/activity"><i class="fa fa-heartbeat"></i> Activities</a>
          <ul class="dropdown-menu dropdown-hover-menu">
            <li><a routerLink="/activity">Activities</a></li>
            <li><a routerLink="/activity/nearby">NearBy</a></li>
            <li><a routerLink="/activity/history">History</a></li>
            <li><a routerLink="/linkup_new/activity-pending">Requests</a></li>
            <li><a routerLink="/linkup_new/add_new_request">CREATE ACTIVITY</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-hover" routerLink="/event/view-events/"><i class="fa fa-calendar"></i> Events</a>
          <ul class="dropdown-menu dropdown-hover-menu">
            <li><a routerLink="/event/nearby-events/">NEARBY </a></li>
            <li><a routerLink="/event/view-events/">MY Events</a></li>
            <li><a routerLink="/event/history-events/">History</a></li>
            <li><a routerLink="/event/create_event/">Create Event</a></li>
            
          </ul>
        </li>
        <li><a routerLink="/user/profile"> <i class="fa fa-user-circle-o"></i> Profile</a></li>
        <li class="dropdown" id="headerfriendrequest">
          <a class="dropdown-toggle" data-toggle="dropdown" routerLink="#"> <i class="fa fa-users"></i> </a>
        </li>
        <input type="hidden" id="notificationids">
        <input type="hidden" id="notificationids_new">
        <li class="dropdown" id="headernotification">
        </li>
        <li class="dropdown">
          <a class="dropdown-hover"><i class="fa fa-gear"></i></a>
          <ul class="dropdown-menu dropdown-hover-menu">
            <li><a routerLink="/user/edit_profile">Edit Profile</a></li>
            <li><a routerLink="/user/edit_details">Edit Details</a></li>
            <li><a routerLink="javascript:void(0)" id="SendFeedBack">Provide FeedBack</a></li>
            
            <li><a routerLink="/user/under-cons">About us</a></li>	          
            <li><a target="_blank"href="http://165.227.198.243:4010/resource/helpandSupport.html">Help and Support</a></li>
            <li><a target="_blank"href="http://165.227.198.243:4010/resource/privacypolicy.html">Privacy Policy</a></li>
            
            <li><a (click)="logout()" >Logout</a></li>
          </ul>
        </li>
        <li><div id="google_translate_element"></div></li>
        </ul>
      </div>
      </div>
    </nav>
  </header> -->


  <nav class="navbar navbar-inverse navbar-default inner_navbar" role="navigation" *ngIf="HeaderTwo">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand inner_nav_brand" routerLink="/profile"><img src="assets/images/logo.png"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/nearby">People Nearby</a></li>
          <li><a routerLink="/store">Store</a></li>
          <li><a routerLink="/chat">Chat</a></li>
          <li class="dropdown Activity_drop drop">
            <a class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/activity">Activities</a></li>
              <li><a routerLink="/activity/nearby">Nearby</a></li>
              <li><a routerLink="/activity/history">History</a></li>
              <li><a routerLink="/activity/requests">Requests</a></li>
              <li><a routerLink="/activity/create">Create Activity</a></li>
            </ul>
          </li>
          <li class="dropdown drop">
            <a class="dropdown-toggle" routerLink="/events" data-toggle="dropdown">Events <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/events">Events</a></li>
              <li><a routerLink="/events/create">Create Event</a></li>
            </ul>
          </li>
          <li class="dropdown drop">
            <a class="dropdown-toggle" routerLink="/group" data-toggle="dropdown" >Group <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/group" >Groups</a></li>
              <li><a routerLink="/group/create">Create group</a></li>
            </ul>
        </li>
    </ul>

      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown drop friendreq_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-users"></i> </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
  
          <li class="dropdown drop notification_drop">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-bell"></i> </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/notification/action">Action</a></li>
              <li><a routerLink="/notification/poyjerAction">Another action</a></li>
              <li><a routerLink="/notification/myEvents">Something else here</a></li>
              <li class="divider"></li>
              <li><a routerLink="/notification/myEvents">Separated link</a></li>
            </ul>
          </li>
  
           <li class="dropdown logout drop">
            <a class="dropdown-toggle" data-toggle="dropdown"><img class="pro_options" 
            src="assets/images/newAssests/user.png"> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/profile/myEvents">Edit Profile</a></li>
              <li><a routerLink="/profile/myEvents">Edit Details</a></li>
              <li><a routerLink="/profile/myEvents">Provide Feedback</a></li>
              <li><a routerLink="/profile/myEvents">About Us</a></li>
              <li><a routerLink="/profile/myEvents">Help Support</a></li>
              <li><a routerLink="/profile/myEvents">Privacy Policy</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
 