/* body {
    font-family:Open Sans;
  } */
  .row {
      margin-right: 0px;
      margin-left: 0px;
  }
  
  .friendscard_row{
      margin:12px;
  }
  
  .left_portion{
      background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      height:100vh;
      padding: 0px;
  }
  .image-circle{
      border-radius: 50%;
      width: 67px;
      height: 67px;
  }
  .col-md-9.name_age h3 {
  
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px; 
  }
  .name_age p {
      font-size: 12px;
      color: #5f6368;
  }
  .name_age{
      padding-left: 20px;
  }
  .pic_name {
      width: 60%;
      margin: 0 auto;
      margin-left: 25px;
      padding-top: 46px;
      padding-bottom: 46px;
  }
  .name_age h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 2px;
  }
  ul{
      list-style: none;
  }
  .points {
      font-size: 12px;
      line-height: 21px;
      background-color: #f8f8f8;
      padding-top: 13px;
      padding-bottom: 7px;
  }

 
 
  .tabs_links{
      margin-top: 46px;
  
  }
  .tabs_links ul{
      padding: 0px;
  }
  .tabs_links li {
  
      background-color: #f8f8f8;
      margin-top: 20px;
      padding: 20px;
      padding-left: 20px;
      padding-left: 38px;
  
  }
  .tabs_links li:hover {
    box-shadow: 0 0 10px 0 #3333;
    background-color: #12959f;
    color: #fff;
  }
  .tabs_links a{
      color:#333;
      text-decoration: none;
  }
  /* .rightSection {
      overflow-y : scroll;
      height: 100vh;
  } */
  .right-portion{
      background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      padding: 19px;
      margin-top: 15px;
      overflow-y : scroll;
      height: 70vh;
  }
  #menu1 {
      height: 100vh;
  }
  .title_page {
      margin-bottom: 18px;
          background-color: #fff;
      box-shadow:0px 0px 10px 0px #3333;
      padding: 19px;
  }
  .title_page h1{
      position: relative;
      z-index: 1;
      font-weight: bold;
      text-align: center;
  }
  .title_page h1 span{
      white-space: nowrap;
      color: #000;
      font-size: 73px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.1;
      opacity: 0.03;
      margin-top: -5px;
  
  }
  .nav-tabs {
      border-bottom: 0px solid #ddd;
  }
  
  .search_bar{
      text-align: right;
  }
  .partition .nav-tabs > li {
      margin-bottom: -1px;
  }


   .inner_tabs > li.active > a,  .inner_tabs > li.active > a:focus,  .inner_tabs > li.active > a:hover{
  
      color: #12959f;
      cursor: default;
      background-color: #fff;
      border: none;
      border-bottom: 2px solid #12959f;
  }
  .inner_tabs > li > a {
      padding: 12px 22px;
  
  }
  

  .partition input {
      border: 1px solid #d2d2d7;
      border-radius: 100px;
      padding: 6px;
      padding-left: 15px;
      position: relative;
      width: 50%;
  }
  .partition button {
  
      position: absolute;
      right: 15px;
      padding: 7px 19px;
      border-radius: 100px;
      background-color: #12959f;
      border: none;
      color: #fff;
  
  }
  .cards img{
      width: 60px;
  }
  .cards{
      background-color: #f8f8f8;
      box-shadow:0px 0px 10px 0px #3333;	
      padding-top: 8px;
      padding-bottom:  8px;
      margin-top: 30px;	
      height: 75px; 
  }
  .cards ul{
      padding-left: 10px;
      margin-bottom: 0px;
  }
  .close_btn{
      float:right;
  }
  .close_btn .button {
      background-color: transparent;
      border: 0px;
      font-size: 23px;
      color: red;
      margin-top: 12px;
  }
  .add_btn .button {
      background-color: transparent;
      border: 0px;
      font-size: 23px;
      color: green;
      margin-top: 12px;
  }
  .add_btn{
      float:right;
  }
  .tab-content {
      margin-top: 0px;
  }
  
  .inner_tabs a{
      color:#555;
  }
  .inner_tabs > li.active > a, .inner_tabs > li.active > a:focus, .inner_tabs > li.active > a:hover{
      color:#12959f;
      
  }
  .nav.nav-tabs.lowerTabs {
      width: 50%;
      margin: 0 auto;
  }
  
  .partition .nav-tabs > li {
      margin-bottom: -1px;
  }
  .people_card{
      background-color: #f8f8f8;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 0px 10px 0px #3333;
      padding-bottom:0px;
      margin-top: 25px;
       height: 280px;
      
  }
  .people_card img{
      width: 100%;
      height: 15vw;
      object-fit: cover;
  }
  .unfollow{
      background-color: #e83435;
      color:#fff;
      border:1px solid #e83435;
  }
  .unfollow:hover{
      color:red;
      background-color: transparent;
      border:1px solid #e83435;
  }
  .full_searchbox input {
      border: 1px solid #d2d2d7;
      border-radius: 100px;
      padding: 6px;
      padding-left: 15px;
      position: relative;
      width: 100%;
  }
  .full_searchbox button {
  
      position: absolute;
        right:0px;
      padding: 7px 19px;
      border-radius: 100px;
      background-color: #12959f;
      border: none;
      color: #fff;
  
  }
 
  .friendscard_row h5{
      padding-left: 0px; 
      text-align: left;
  }
  .friendscard_row .dropdown {
      text-align: right;
      padding: 0px;
  }
  .friendscard_row p{
      font-size: 12px;
      font-weight: normal;
      margin-top: 6px;
  }
  .friendscard_row h5{
      font-size: 14px;
      font-weight: bold;
      margin-top:0px;
  }
  .inner_search {
      margin-top: 50px !important;
  }
  
  #friend_action_menu {
      background-color: transparent;
      border: 0px;
      color:#adb5bd;
  }
  
  @media only screen and (min-width:320px) and (max-width:768px){
      .left_portion {
          height: auto;
      }
      .title_page h1 span {
          font-size: 55px;
      }
      .partition input{
          width: 100%;
      }
      .search_bar {
          margin-top: 12px;
      }
      .nav.nav-tabs.inner_tabs {
          width: 100%;
      }
      .inner_tabs > li > a {
          padding: 11px 5px;  
      }
      .inner_tabs a {
          font-size: 11px;
      }
      #search_user button {
          right: 0px;
      }
      .friendscard_row h5 {
          width: 60% !important;
           float: left;
      }   
  
      .friendscard_row p {
          width: 40%;
      }
      .profile_info {
          text-align: center;
      }
      .pic_name{
          margin:0 auto;
      }
  }
/* --------------UNFRIEND -----------*/
  .remove:hover{
      color:#fff;
      background-color:red;
      transition: 0.5s;
  }
  .remove{
      padding:10px;
  }

  .dropdown-menu{
      padding:0px;
  }

  .dropdown-menu .divider{
      margin:0px;
  }
  .dropdown-menu>li>a{
      padding:10px 20px ;
      cursor:pointer;
  }

  /* loader */

  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* loader over */


  /* seacrch tab */

  .search_user{
	background-color: #fff;
}
.search_user_list:hover{
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
.search_user_list{
	border:1px solid #d2d2d7;
	margin-top: 30px;
}
.search_user_list ul li{
	display: inline-block;
}
.searchUserImage img{
    width: 50px;
    border-radius:50%;
    height:50px;
}

.full_searchbox{
    position: relative;
}
.search_user_list ul {
    margin: 0px;
    padding: 10px;
}

.list_action{
	float:right;
}
.list_action img{
	width: 30px;
}
.list_action .btn{
	background-color: transparent !important;
	border:0px;
	color:#333;
	font-size: 25px;
}
.list_action .btn:active {
    background-color: transparent !important;
    color: #333333;
}

/* loader */

.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

/* no request */
.noRequest{
    margin-top:50px;
}
.noRequest img{
    width: 180px;
}
.noRequest p{
    font-size: 18px;
    color:#12959f;
    margin-top: 13px;
}
/* search User Name */
.searchUserName{
    overflow: hidden;
    text-overflow: ellipsis ;
    width: 100px;
    white-space: nowrap;
}

.user_profile_show{
    color:#333;
}
.user_profile_show:hover{
    color:#12959f;
    cursor: pointer;
}


