<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="container">
  <section class="view_activity_pg">
    <div class="panel-group member_team_panel" id="accordion">
      <div class="panel panel-default card">
        <div class="panel-heading card-header" data-toggle="collapse" href="#collapseOne" >
          <a class="card-link"  href="#collapseOne" >
            <b>Team Name <i class="fa fa-plus-circle"></i></b>
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
          <div class="card-body">
             <div class="row">
               <div class="col-md-3">
                 <div class="addmembers_team text-center">
                   <img src="./imgs/dummy.jpg" class="rounded-circle">
                   <h4>John Deo</h4>
                   <button type="button" class="btn btn-default add_mem_btn"> PENDING</button>

                 </div>
               </div>

               <div class="col-md-3">
                 <div class="addmembers_team text-center">
                   <img src="./imgs/dummy.jpg" class="rounded-circle">
                   <h4>John Deo</h4>
                   <button type="button" class="btn btn-default add_mem_btn">PENDING</button>

                 </div>
               </div>

               <div class="col-md-3">
                 <div class="addmembers_team text-center">
                   <img src="./imgs/dummy.jpg" class="rounded-circle">
                   <h4>John Deo</h4>
                   <button type="button" class="btn btn-default add_mem_btn">PENDING</button>

                 </div>
               </div>

               <div class="col-md-3">
                 <div class="addmembers_team text-center">
                   <img src="./imgs/dummy.jpg" class="rounded-circle">
                   <h4>John Deo</h4>
                   <button type="button" class="btn btn-default add_mem_btn">PENDING</button>

                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>

    </div>

      <form action="/action_page.php">
        <div class="row">
          <div class="col-md-6 space_up">
            <div class="form-group">
              
              <select class="form-control" id="sel1" name="sellist1">
                <option vlaue="" disabled selected>Select Activity</option>
                <option value="hurr">1</option>
                <option value="hurr">2</option>
                <option value="hurr">3</option>
                <option value="hurr">4</option>
              </select>
            </div>
        </div>

        <div class="col-md-6 space_up">
            <div class="panel-group Location" id="accordion">
                <div class="panel panel-default card">
                    <div class="panel-heading card-header" data-toggle="collapse" href="#collapselocation">
                      <a class="panel-title card-link">
                        <b>Location</b>
                      </a>
                    </div>
                    <div id="collapselocation" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                         <div class="row">

                         </div>
                      </div>
                    </div>
                </div>

              </div>
        </div>

        <div class="col-md-6 ">
          <label>Private</label><br>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="col-md-6 ">
          <label>All Day</label><br>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>

         <div class="col-sm-6 space_up">
                 <label>Start Date and time</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text'  type="date" class="form-control" />
                        <span class="input-group-addon">
                            <!-- <span class="glyphicon glyphicon-calendar"></span> -->
                        </span>
                    </div>

              </div>
             
             <div class="col-sm-6 space_up">
                 <label>End Date and time</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' type="date" class="form-control" />
                        <span class="input-group-addon">
                            <!-- <span class="glyphicon glyphicon-calendar"></span> -->
                        </span>
                    </div>
              </div>
              <div class="col-md-12 space_up">
                <label>Notes</label>
                 <textarea class="form-control" rows="5" id="comment" placeholder="Please Enter Info here"></textarea>
              </div>
          <div class="col-md-12">
                <div class="addbtn_form">
                  <button type="button" class="btn btn-default" style="background-color: #28a745">Update</button>
                  <button type="button" class="btn btn-default" style="background-color: #dc3545;">Delete</button>
                </div>
            </div>
          </div>
  </form>
  </section>
</div>