/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bronze{color:#e96405;}
.blue{color:#08c5d5;}
.green{color:#7eb530;}
.red{color:#ea0001;}

:root{
	--green: #7eb530;
    --blue: #08c5d5;
	--red: #ea0001;
	--dark-gray: #222;   
}

body{
    background: #f8f8f8;
    /* font-family: 'Open Sans' ; */
    line-height: 1.5;
    color: #222;
    overflow-x: hidden;
}
/* h1 , h2 {
    font-family: 'Varela Round';
} */

/* p, h1, h2, h3, h4, h5, h6, ul, li, body, html, *{
    font-family: 'Varela Round';
    margin: 0;
    padding: 0;
} */
*{transition: 0.15s all ease-in; outline:0;}


/* loader */

.centeredLoader{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}