<!-- new one -->
<div class="signIn">

  <div class="col-md-4 left_space">
    <section class="video_section">
      <div class="overlay"></div>
      <div class="inner_left">
        <div class="padding_inner">
          <div class="img_logo">
            <img src="assets/images/logo.png" routerLink="">
          </div>
          <p class="welcome" style="text-transform: uppercase;">Welcome to Swift Spar App</p>
          <h2>Let us play and <br>have fun each day</h2>
          <p class="italic">Find local "Fun activities" and "Events" <br>to do with people near you.</p>
        </div>
      </div>

      <div class="follow_us">
        <p>Follow us on </p>
        <ul>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-youtube"></i></li>
        </ul>
      </div>
      <div class="slides ">
        <ul>
          <!-- slides -->
          <li><img src="assets/images/newAssests/one.jpg" alt="image01" />
          </li>

          <li><img src="assets/images/newAssests/two.jpg" alt="image02" />
          </li>

          <li><img src="assets/images/newAssests/three.jpg" alt="image03" />
          </li>

          <li><img src="assets/images/newAssests/four.jpg" alt="image04" />
          </li>

          <li><img src="assets/images/newAssests/five.jpg" alt="image05" />
          </li>

          <li><img src="assets/images/newAssests/six.jpg" alt="image06" />
          </li>

          <li><img src="assets/images/newAssests/six.jpg" alt="image07" />
          </li>
        </ul>
      </div>


    </section>
  </div>


  <div class="col-md-8">
    <section class="right_portion">


      <div class="login_form">
        <div class="up_button">
          <span class="inline_signup">Don't have an account?</span>
          <span class="inline_signup"><button class="btn btn-default" routerLink="/user/signup-personal">GET STARTED</button></span>
        </div>

        <div class="main_login_form">
          <h1>Sign in to Swift Spar
            <p class="form_subheading">Enter your details below.</p>
            <p class="postaccept" *ngIf="showMsg"><b> Oops! Unexpected error.</b></p> 
          </h1>

          <form (ngSubmit)="onSignin(f)" #f="ngForm">

              

            <div class="form-group">
              <label>EMAIL ADDRESS</label>
              <input type="email" required autocomplete="on" name="email" ngModel #email="ngModel" email class="form-control"
                id="email" placeholder="horace@swiftspar.com">
            </div>
            <div class="form-group">
              <label>PASSWORD</label>
              <input type="password" required autocomplete="off" name="password" ngModel #password="ngModel" password
                class="form-control" id="pwd" placeholder="Enter your password">
              <a class="forgot_link" routerLink="/user/forgot">Forgot Password?</a>
            </div>
            <div class="form-group s_in">
              <button type="submit" class="btn btn-default signin_btn">SIGN IN</button>
            </div>
          </form>

        </div>
      </div>
    </section>
  </div>
</div>
