    <!---  navbar inverse -->
  <nav class="navbar navbar-inverse home_nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
      </div>
  
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" disabled>STORE</a></li>
          <li class="disabled"><a href="#">ABOUT US</a></li>
          <li class="disabled"><a href="#">BLOG</a></li>
          <li><a href="https://www.swiftspar.com/SwiftSpar/apps.html" target="_blank">APPS</a></li>
          <li><a routerLink="/user/login">LOGIN</a></li>
          <li><a class="signup_btn" routerLink="/user/signup-personal">SIGNUP</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <section class="first_sec">
      <div class="video-container">
         <video autoplay loop muted>
               <source src="assets/images/newAssests/video/Swift Spar.mp4" type="video/mp4">
               Your browser does not support the video tag.
         </video>
       <div class="overlay-desc">
          <h1>Find Local "Fun Activities" and "Events" to do with People near You</h1>


       </div>
       <div class="newsletter_header">
                  <form class="form-inline " action="/action_page.php">
                  <div class="form-group">
                    <input type="email" class="form-control newsletter_input" id="email" placeholder="Enter email" name="email">
                     <button type="submit" class="btn btn-default">GET STARTED</button>
                  </div>
              </form>
              <div class="watch_video text-center">
                  <a href="https://youtu.be/hQoVF2qTufE">
                      <i class="far fa-play-circle"></i>
                      <p>Watch Now</p>
                  </a>
              </div>
          </div>
      </div>
  </section>

  <!-- -->

  <section class="logos_sec space_sec">
      <div class="container">
          <div class="row">
          <div class="col-md-12">
              <div class="logos">
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo3.png">
                  </div>
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo3.png">
                  </div>
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo5.png">
                  </div>
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo4.png">
                  </div>
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo6.png">
                  </div>
                  <div class="col-md-2">
                      <img src="assets/images/newAssests/logos/logo3.png">
                  </div>
              </div>

          </div>

          </div>
      </div>
  </section>
<!--  -->
  <section class="about_app space_sec">
      <div class="">
          <div class="bg_white col-sm-6">
              <div class="app_intro text-right">
                  <h1><span style="color:#12959f;">A</span>wesome App for Your
                  Modern Lifestyle</h1>
                  <p>When we first started off, we had one vision and a roadmap to get there. All we wanted 
                  to do was connect globally every physically active person and give them 
                  the ability to find local games  among their frien and colleagues in a reliable and efficient way. Today that goal has not changed. o ask how we can take this to the next level. That's the Swift Spar way, and that is how we do it every day.
                  </p>
                  <a href="https://play.google.com/store/apps/details?id=com.emilence.SwiftSpar&hl=en_IN"><button type="download" class="btn btn-default dwd_btn">Download app</button></a>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="app_img">
                  <img src="assets/images/newAssests/joint_img_2.png">
              </div>
          </div>
      </div>
  </section>
<!--  -->



<section class="uses_app space_sec">
  <div class="container">
      <div class="row">
          <div class="col-md-4">			
              <div class="uses_sec text-center">
                  <img src="assets/images/newAssests/bucket.png">
                  <h4>EASY TO USE</h4>
                  <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod 
                  tepo raraincididunt ugt labore.</p>
              </div>
          </div>	

          <div class="col-md-4">			
              <div class="uses_sec text-center">
                  <img src="assets/images/newAssests/trophy.png">
                  <h4>AWSOME DESIGN</h4>
                  <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod 
                  tepo raraincididunt ugt labore.</p>
              </div>
          </div>	

          <div class="col-md-4">			
              <div class="uses_sec text-center">
                  <img src="assets/images/newAssests/headphones.png">
                  <h4>EASY TO CUSTOMIZE</h4>
                  <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod 
                  tepo raraincididunt ugt labore.</p>
              </div>
          </div>	
      </div>
  </div>
</section>

<section class="what_we_do space_sec ">
  <div class="container">
      <div class="row">
          <div class="tabs_part">
              <h2 class="text-center" ><span style="color:#12959f;">S</span>WIFT SPAR USES A FORWARD-THINKING AND FUTURE-READY 
              APPROACH IN THE PRESENT
              </h2>
          </div>

          <div class="tabs_section">

               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">What we do</a></li>
                  <li><a data-toggle="tab" href="#menu1">Where we are</a></li>
                  <li style="border:none !important;"><a data-toggle="tab" href="#menu2">Where we want to go</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                      <div class="row">
                          <div class="col-md-3 text-center">
                              <img src="assets/images/newAssests/what_we_do.png">
                                <h3>What we do</h3>
                            </div>

                            <div class="col-md-9">
                                <div class="explain_tab_content">
                            <p>At Swift Spar, we prepare for the opportunitiesbefore they present themselves. Connecting with users, sharing our vision, and executing our
                              mission. Every week at Swift Spar we dedicatecountless hours on forward thinking on what our users  may
                               need tomorrow. We understand the competitive environment and that the only thing 
                              that will set us apart from the competition will bethe happiness of our users.Happy users equal a
                              healthy company and knowing what ourcustomers want and need before they do creates a
                              shared long-term benefit.</p>
                              <a href="https://youtu.be/hQoVF2qTufE" target="_blank">FOR MORE</a>
                              </div>
                            </div>
                        </div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <div class="row">
                          <div class="col-md-3 text-center">
                              <img src="assets/images/newAssests/what_we_are.png">
                                <h3>Where we are</h3>
                            </div>

                            <div class="col-md-9">
                                <div class="explain_tab_content">
                            <p>Swift Spar envisions a future world of super-connected decentralized communities where people come together to have fun. Our goal is to become the best activities and events platform in the galaxy.</p>
                              <a href="https://youtu.be/hQoVF2qTufE" target="_blank">FOR MORE</a>
                              </div>
                            </div>
                        </div>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                       <div class="row">
                          <div class="col-md-3 text-center">
                              <img src="assets/images/newAssests/what_we_want_to_go.png">
                                <h3>Where we want to go</h3>
                            </div>

                            <div class="col-md-9">
                                <div class="explain_tab_content">
                            <p>Swift Spar is in its beginning stages of making its mark on the world. Spanning multiple continents, we are proud to be a part of the daily and weekly lives of a unique set of diverse people sharing this exciting dream. Today we connect thousands of people and are inspired to connect millions on this fantastic journey we started.</p>
                              <a href="https://youtu.be/hQoVF2qTufE" target="_blank">FOR MORE</a>
                              </div>
                            </div>
                        </div>
                  </div>
                  
                </div>
              </div>
          </div>
      </div>

</section>



<section class="crousel_sec space_sec">
  <div class="container">
<div class="row">
                  <div class="col-md-12" data-wow-delay="0.2s">
                      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                          <!-- Bottom Carousel Indicators -->
                          <ol class="carousel-indicators">
                              <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="assets/images/newAssests/user.png" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="assets/images/newAssests/user.png" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="assets/images/newAssests/user.png" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="assets/images/newAssests/user.png" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive" src="assets/images/newAssests/user.png" alt="">
                              </li>
                          </ol>

                          <!-- Carousel Slides / Quotes -->
                          <div class="carousel-inner text-center">

                              <!-- Quote 1 -->
                              <div class="item active">
                                  <blockquote>
                                      <div class="row">
                                          <div class="col-sm-8 col-sm-offset-2">

                                              <p>"Swift Spar is an amazing platform, I can now find pickup games anywhere I travel to within the country.</p>
                                              <small>Mike R</small>
                                          </div>
                                      </div>
                                  </blockquote>
                              </div>
                              <!-- Quote 2 -->
                              <div class="item">
                                  <blockquote>
                                      <div class="row">
                                          <div class="col-sm-8 col-sm-offset-2">

                                              <p>"Every week I find tennis games here in Wisconsin and other people that mesh with my schedule to play with. </p>
                                              <small>Sarah J</small>
                                          </div>
                                      </div>
                                  </blockquote>
                              </div>
                              <!-- Quote 3 -->
                              <div class="item">
                                  <blockquote>
                                      <div class="row">
                                          <div class="col-sm-8 col-sm-offset-2">

                                              <p>"Since I left college I have always wanted to capture that magic of enjoying some down time on the soccer pitch, Swift Spar does that for me.</p>
                                              <small>Dan</small>
                                          </div>
                                      </div>
                                  </blockquote>
                              </div>

                               <!-- Quote 4 -->
                              <div class="item">
                                  <blockquote>
                                      <div class="row">
                                          <div class="col-sm-8 col-sm-offset-2">

                                              <p>"Pickup basketball games are a breeze now, the app tells you where the courts are and then helps you navigate to them.</p>
                                              <small>Shane D</small>
                                          </div>
                                      </div>
                                  </blockquote>
                              </div>

                               <!-- Quote 5 -->
                              <div class="item">
                                  <blockquote>
                                      <div class="row">
                                          <div class="col-sm-8 col-sm-offset-2">

                                              <p>"Finding cricketers now to play with is a breeze.</p>
                                              <small>P. Sharma</small>
                                          </div>
                                      </div>
                                  </blockquote>
                              </div>


                          </div>

                          <!-- Carousel Buttons Next/Prev -->
                          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                      </div>
                  </div>
              </div>
</div>
</section>

<footer>
  <div class="container-fluid">
      <div class="footer_inner">
          <div class="row">
              <div class="col-md-6">
                  <div class="logo_footer">
                      <img src="assets/images/logo.png">
                      <ul class="address">
                          <li><i class="fas fa-map-marked-alt"></i>&nbsp;Fayetteville, NC USA </li>
                          <li><i class="fas fa-envelope"></i>&nbsp;support@swiftspar.com</li>
                          <li><i class="fas fa-mobile"></i>&nbsp;012-123456789</li>
                      </ul>
                      <ul class="terms">
                          <li>&copy; Copyright 2018. All Rights Reserved.</li>
                          <li>Terms & Conditions</li>
                          <li>Privacy Policy</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="ftr_second_row">
                      <h4>Swift Spar INC</h4>
                      <p>When we first started off, we had one vision 
                       and a roadmap to get there.</p>
                  </div>
                  <div class="social">
                      <h4>Get in touch</h4>
                      <ul>
                      <li><i class="fab fa-facebook-f"></i></li>
                      <li><i class="fab fa-twitter"></i></li>
                      <li><i class="fab fa-instagram"></i></li>
                      <li><i class="fa fa-youtube-square"></i></li>
                  </ul>
                  </div>
              </div>

              <div class="col-md-3">
                  <form class="footer_newsletter">
                      <input type="email" class="form-control" placeholder="Your Email">
                      <i style="color:#12959f;"class="fas fa-play"></i>
                  </form>
              </div>

          </div>
      </div>
  </div>
</footer>

