/* section {
    background: #f8f8f8;
  } */
  /* .first_sec{
    
  } */
  
  .home_nav {
      -webkit-transition: all 0.6s ease-out;
      -moz-transition: all 0.6s ease-out;
      -o-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out;
      border-radius: 0px;
      position: absolute;
      z-index: 9999999;
      width: 100%;
      background-color: transparent;
      border: 0px;
      font-weight: bold;
      top: 21px;
      font-size: 14px;
  }
  .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
      color:#fff;
      border-bottom: 1px solid #fff;
  }
  .navbar-inverse .navbar-nav > li > a{
      color:#fff;
      padding: 14px 27px;
      border:1px solid transparent;
  }
  .navbar-brand img{
      width:50px;
  }
  .navbar-brand{
      padding-top: 0px;
  }
  
  .video-container {
    position: relative;
  }
  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  
  }
  .overlay-desc {
    background-color:  #000c;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first_sec h1 {
    color: white;
    font-size:44px;
    text-align: center;
    width:80%;
    text-transform: uppercase;
  }
  .space_sec{
      margin-top:50px;
      margin-bottom: 50px;
  }
  .justified {
  
      text-align: justify;
      font-size: 14px;
      line-height: 20px;
  
  }
   h2{
      font-weight: bold;
      /*color:#12959f;*/
      
  }
  p{
      font-size: 14px;
      line-height: 20px;
  }
  
  .intro{
      text-align: center;
  }
  .half_black{
      color:#333;
  }
  .icon_cards{
      text-align: center;
  }
  .icon_cards img {
      width: 125px;
  }
  .card_bg {
      background-color: #f9f9ff;
      box-shadow: 0px 0px 4px 1px #d2d2d7;
      padding: 20px;
      margin-top: 50px;
  }
  .card_bg:hover {
      transition: 0.9s;
      box-shadow:  0px 0px 4px 1px #12959f;
  
  }
  .card_bg h3 {
      text-align: center;
      font-weight: bold;
      font-size: 19px;
      color: #12959f;
  }
  .card_bg p{
      text-align: justify;
  }
  .video img{
      width:400px;
  }
  .video {
      background-color: #12959f;
      text-align: center;
      padding-top: 5px;
  }
  
  
  
  
  ul{
      list-style: none;
  }
  .footer_row_social ul li{
      display: inline-block;
  }
  .logo_footer img{
      width:80px;
      padding-bottom: 30px; 
  }
  .logo_footer ul li{
      display: inline-block;
  }
  .logo_footer h4{
      font-weight: bold;
  }
  .copyright{
      margin-top: 12px;
      margin-bottom:12px;
  }
  .footer_row{
      text-align: center;
  }
  .footer_row_social i {
      font-size: 29px;
      padding: 0px 3px;
  }
  .terms {
      color: #ffffff4d;
  }
  .logo_footer {
      border-right: 1px solid #ffffff1a;
  }
  footer{
      background-color: #333745;
      background-size: 100%;
      padding: 20px;
      margin-top: 50px;
  }
  .footer_inner {
  
      border-radius: 4px;
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
  
  }
  .footer_row h3 {
      font-size: 19px;
      font-weight: bold;
  }
  
  
  .footer_inner .fab{
      color:#fff;
  }
  .logos img{
      width: 100px;
      -webkit-filter: grayscale(100%);
      opacity: .7;
      cursor: pointer;
  }
  
  .logos img:hover {
  
      -webkit-filter: grayscale(0%);
      opacity: 1;
  
  }
  .newsletter {
      text-align: center;
      width: 72%;
      margin: 0 auto;
  }
  .newsletter .form-control {
      border-radius: 0px;
      border: 1px solid #ccc;
      padding: 21px;
  }
  .newsletter .btn{
      padding: 12px;
      background-color: #12959f;
      border:1px solid transparent;
      color:#fff;
      font-weight: bold;
  }
  .newsletter .btn:hover{
      padding: 12px;
      background-color: transparent;
      border:1px solid #12959f;
      color:#12959f;
  }
  .signup_btn{
      border:2px solid #12959f !important;
      border-radius: 100px;
      padding: 10px 40px !important;
  }
  .signup_btn:hover{
      border:2px solid transparent;
      background-color: #12959f !important;
      transition: 0.9s;
  
  
  }
  .newsletter_header{
      position: absolute;
      top:60%;
      left: 32%;
  }
  .newsletter_input{
      border:1px solid transparent;
      border-radius: 100px;
      width: 346px !important;
      padding: 23px 23px;
  
  }
  .newsletter_header .btn{
      padding: 15px 51px;
      border-radius: 100px;
      background-color: #12959f;
      color:#fff;
      border:1px solid transparent;
      font-weight: 400;
  }
  .watch_video .far{
      color:#fff;
  }
  .watch_video{
      margin-top:30px; 
  }
  .watch_video, .watch_video a{
      font-size: 44px;
      color: #fff;
      text-decoration: none;
  }
  .bg_white{
      background-color: #fff;
      padding-left: 0px;
      box-shadow: 0px 0px 16px 0px #d2d2d7b3;
  }
  
  .app_intro {
      padding: 36px;
  }
  .app_intro h1{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom : 22px;
  }
  .dwd_btn {
      border-radius: 100px;
      padding: 12px 27px;
      font-weight: bold;
      color:#fff;
      background-color: #12959f;
      border:1px solid transparent;
      margin-top : 12px;
  }
  .dwd_btn:hover{
      background-color: transparent;
      color:#12959f;
      transition: 0.8s;
      border:1px solid #12959f;
      margin-top : 12px;
  }
  .app_img img {
  
      width: 510px;
      margin-bottom: 50px;
  
  }
  .app_img{
      text-align: center;
  }
  .uses_sec{
      background-color: #fff;
      padding: 62px;
  
  }
  .uses_sec:hover{
          box-shadow: 0px 0px 16px 0px #d2d2d7b3;
  }
  .uses_sec img{
      width: 30px;
  }
  
  .what_we_do .tabs_part{
      width: 85%;
      margin: 0 auto;
  }
  
  .what_we_do .nav-tabs {
      border-bottom:0px;
     
  }
  .what_we_do .nav-tabs li{
       border-right:1px solid #d2d2d7 !important;
  }
  .what_we_do .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  
      color: #12959f;
      cursor: pointer;
      background-color: transparent;
      border:1px solid transparent;
  }
  .what_we_do .nav > li > a:focus, .nav > li > a:hover{
      background-color: transparent;
      border:1px solid transparent;
  }
  .nav-tabs{
      width: 34%;
      margin: 0 auto;
      font-size: 12px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 40px;
  }
  .tab-content {
      background-color: #fff;
      padding: 30px;
      box-shadow: 0px 0px 16px 0px #d2d2d7b3;
      margin-top: 30px;
  }
  .tab-content img{
      width: 150px;
  }
  .tab-content h3{
      color:#12959f;
      font-size: 18px;
      font-weight: bold;
  }	
  
  .tab-content a{
      color:#12959f; 
  }
  .tab-content p {
      line-height: 26px;
  }
  .explain_tab_content{
      margin-bottom:30px;
      margin-top:30px; 
  }
  .address li{
      margin-right: 12px; 
  }
  .terms li{
      margin-right: 12px;
  }
  .footer_inner ul{
      padding-left: 0px;
      font-size: 12px;
  }
  .social ul li{
      display: inline-block;
      padding-right:20px;
  }
  .footer_inner h4 {
      font-size: 14px;
      font-weight: bold;
  }
  .social {
      margin-top: 28px;
  }
  .social i {
      font-size: 15px;
      color:#fff9 !important;
  }
  .social i:hover{
      color: #fff !important;
  }
  .footer_newsletter input {
  
      position: relative;
      border-radius: 0px !important;
      border: none;
      padding: 23px 13px;
  
  }
  .footer_newsletter i{
      position: absolute;
      right:25px;
      top: 15px;
  }
  .ftr_second p{
      font-size: 12px;
  }
  /*---------------------------------CAROUSEL------------------------------------------------*/
  /* Carousel */
  
  #quote-carousel {
      padding: 0 10px 30px 10px;
      margin-top: 30px;
      /* Control buttons  */
      /* Previous button  */
      /* Next button  */
      /* Changes the position of the indicators */
      /* Changes the color of the indicators */
  }
  #quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -60px;
  }
  #quote-carousel .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
  }
  #quote-carousel .carousel-indicators li {
      width: 50px;
      height: 50px;
      margin: 5px;
      cursor: pointer;
      border: 4px solid #CCC;
      border-radius: 50px;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s;
  }
  #quote-carousel .carousel-indicators .active {
      background: #333333;
      width: 80px;
      height: 80px;
      border-radius: 100px;
      border-color: #12959f;
      opacity: 1;
      overflow: hidden;
  }
  .carousel-inner {
      min-height: 300px;
  }
  .item blockquote {
      border-left: none;
      margin: 0;
  }
  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }
  
  .carousel-inner p {
      font-size: 20px;
      line-height: 30px;
  }
  
  .crousel_sec img{
      width: 100%;
  }
  /*----------------------------------------responsive----------------------------*/
  
  @media only screen and (min-width:320px) and (max-width: 768px){
      .first_sec h1 {
  
      color: white;
      font-size: 15px;
      text-align: center;
      width: 80%;
      text-transform: uppercase;
  
  }
  .first_sec {
      overflow: hidden;
  }
  video {
      height: 100vh;
      width: auto;
  }
  .newsletter_header {
  
      position: absolute;
      top: 56%;
      left: 0px;
      width: 100%;
      padding: 20px;
  
  }
  .newsletter_input {
      padding: 18px 23px;
      width: 100% !important;
  
  }
  .newsletter_header .btn {
  
      padding: 11px 37px;
  }
  .newsletter_header .btn {
      margin-top: 5px;
  }
  .watch_video {
      margin-top: 0px;
  }
  .navbar-nav {
  
      margin: 7.5px -15px;
      background-color: #000;
      padding-bottom: 12px;
  
  }
  .logos img {
      margin-top: 15px;
  }
  .logos {
      text-align: center;
  }
  .app_img img{
      width:100%;
  }
  .uses_sec {
      margin-top: 20px;
  }
  .nav-tabs {
      width: 100%;
      font-size: 9px;
  }
  .tab-content {
      margin: 20px;
  }
  .tab-content p{
      text-align: justify;
  }
  .carousel-inner p {
      font-size: 12px;
  }
  .carousel-indicators{
      left:0;
      width:100%;
      margin-left: 0px;
  }
  .logo_footer {
  
      border-bottom:  1px solid #ffffff1a;
      border-right:0px;
  }
  #quote-carousel .carousel-control {
  
      display: none;
  
  }
  
  }